{% set page = { title: episode.title|removeBR + " — Les Jours" } %}
{% extends "partials/layout/layout.html" %}

{% block content %}
{% set obsession = episode.obsession|expand %}
<article class="episode obsession-{{ obsession.color }}" role="main">
	<header class="mb-6g">
		<img src="{{ episode.img|default("img/header.jpg") }}" alt="{{ episode.alt }}" />
		<div class="md-mt-1c md-ml-1c md-w-5c lg-mt-1c lg-ml-2c lg-w-6c snake"></div>
		<div class="container ph-0">
			<div class="row">
				<div class="col sm-ph-4g md-ml-1c md-w-5c lg-ml-2c lg-w-6c">
					<p class="mv-2g style-meta">Épisode n°{{ episode.number }} de l’obsession <a class="link obsession" href="#obsession">{{ obsession.name }}</a></p>
					<h2 class="h2">{{ episode.title|removeBR }}</h2>
					<p>{{ episode.intro }}</p>
					<time class="mb-2g style-meta" datetime="{{ episode.date }}">{{ episode.date|human }}</time>
					<address class="mb-1g">
						<ul class="list list-inline style-meta">
						{% for group in episode.rel.authors|expand %}
							{% for kind, authors in group %}
								{% set kind = "Texte"  if kind == "text"  else kind %}
								{% set kind = "Photos" if kind == "photo" else kind %}
								{% set kind = "Illustrations" if kind == "drawing" else kind %}
								{# filter blocks doesn't works so bear with me on the following line (avoid unnecessary spaces) #}
								<li>{{ kind }} {% for author in authors if authors.push else [authors] %}{% if author.href %}<a class="link" rel="author" href="#{{ author.href }}">{% endif %}{{ author.name if author.name else author }}{% if author.href %}</a>{% endif %}{% if loop.length > 1 and not loop.last %}{{ " et " if loop.revindex0 == 1 else ", " }}{% endif %}{% endfor %}</li>
							{% endfor %}
						{% endfor %}
						</ul>
					</address>
				</div>
			</div>
		</div>
	</header>
	<div class="relative">
		<div class="container no-overflow">
			<div class="row episode-container relative">
				{{ episode.content }}
			</div>
		</div>
		{# This must be outside of the .episode-container otherwise it won't be sticky due to the overflow: hidden #}
		<div class="share hidden col mb-2g md-w-1c lg-w-2c text-center show" data-fade="3000">
			<ul class="sticky">
				<li class="sm-mb-0 mb-2g"><a class="btn-round btn-brand" href="#"><i>{{ icon("heart", "Mettre en favoris") }}</i></a></li>
				<li class="sm-mb-0 mb-2g"><a class="btn-round btn-brand" href="#"><i>{{ icon("gift", "Offrir cet article") }}</i></a></li>
				<li><a class="btn-round btn-brand" href="#"><i>{{ icon("plane", "Partager") }}</i></a></li>
			</ul>
		</div>
	</div>
	<footer class="pattern-alpha pb-1m">
		<div class="meta ph-1m mb-1m style-meta">
			<div class="row">
				<div class="col mb-1g sm-ph-2g md-ml-1c md-w-3c md-pl-0 lg-ml-2c lg-w-6c lg-pl-0">
					<p class="sr">Crédits</p>
					<ul>
					{% for group in episode.rel.authors|expand %}
						{% for kind, authors in group %}
							{% set kind = "Texte"  if kind == "text"  else kind %}
							{% set kind = "Photos" if kind == "photo" else kind %}
							{% set kind = "Illustrations" if kind == "drawing" else kind %}
							{# filter blocks doesn't works so bear with me on the following line (avoid unnecessary spaces) #}
							<li>{{ kind }} {% for author in authors if authors.push else [authors] %}{% if author.href %}<a class="link" rel="author" href="#{{ author.href }}">{% endif %}{{ author.name if author.name else author }}{% if author.href %}</a>{% endif %}{% if loop.length > 1 and not loop.last %}{{ " et " if loop.revindex0 == 1 else ", " }}{% endif %}{% endfor %}</li>
						{% endfor %}
					{% endfor %}
					</ul>
				</div>

				{% if episode.tags %}
				<div class="col mb-1g sm-ph-2g md-w-3c lg-ml-2c lg-w-8c lg-pl-0">
					<p>Les mots-clés</p>
					<ul class="tags">
					{% for tag in episode.tags %}
						<li><a class="link external" href="#">{{ tag }}</a></li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
		</div>

		{% set prev = episode.rel.prev|expand %}
		{% set next = episode.rel.next|expand %}
		{% if prev|published or next|published %}
		<div class="rel container">
			<p class="sr">D’autres épisodes</p>
			<ul class="row">
				{% if prev|published %}
				<li class="sm-w-100 md-w-½">
					<a class="row row-center w-100" rel="prev" href="/obsessions/{{ obsession.href }}/{{ prev.href }}/">
						<i class="col w-auto"><span class="block relative">{{ icon("angle-left") }}</span></i>
						<div class="col flex-1">
							<span class="style-meta">Épisode n°{{ prev.number }}<span class="sr"> : </span></span>
							<span class="h5">{{ prev.title }}</span>
						</div>
					</a>
				</li>
				{% endif %}
				{% if next|published %}
				<li class="sm-w-100 md-w-½{% if not prev %} md-ml-4c lg-ml-6c{% endif %}">
					<a class="row row-center w-100" rel="next" href="/obsessions/{{ obsession.href }}/{{ next.href }}/">
						<div class="col flex-1 text-right">
							<span class="style-meta">Épisode n°{{ next.number }}<span class="sr"> : </span></span>
							<span class="h5">{{ next.title }}</span>
						</div>
						<i class="col w-auto"><span class="block relative">{{ icon("angle-right") }}</span></i>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
	</footer>
</article>
{% include "partials/episode/modal-author.html" %}
{% include "partials/obsession.html" %}
{% include "partials/layout/footer.html" %}
{% endblock %}