{% set page = { title: "LesJours", class: "home" } %}
{% extends "partials/_layout.html" %}

{% macro author(episode) %}
	{% for group in episode.rel.authors %}{% set group = group|expand %}{% for kind, authors in group %}{% if kind == "text" %}{% for author in authors if authors.push else [authors] %}{% if author.href %}<a class="link-unstyled" rel="author" href="{{ author.href }}">{% endif %}{{ author.name if author.name else author }}{% if author.href %}</a>{% endif %}{% if loop.length > 1 and not loop.last %}{{ " et " if loop.revindex0 == 1 else ", " }}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endfor %}
{% endmacro %}

{% block content %}
<section class="container">
	<h2 class="sr">À la une</h2>
	<div class="master row mb-4g obsession-{{ home.master.obsession.color }}">
		<div class="col lg-ml-1c lg-w-10c">
			<div class="relative no-overflow">
				<img class="responsive" src="/obsessions/{{ home.master.obsession.href }}/{{ home.master.href }}/{{ home.master.img|default("img/header.jpg") }}" alt="{{ home.master.alt }}" />
				<div class="overlay">
					<div class="snake-4-tmp">
						<div class="snake-container color-white" style="background-image: url(/obsessions/{{ home.master.obsession.href }}/{{ home.master.href }}/{{ home.master.img|default("img/header.jpg") }});">
							<h3 class="h2"><a class="link-unstyled" href="/obsessions/{{ home.master.obsession.href }}/{{ home.master.href }}">{{ home.master.title }}</a></h3>
							<p>{{ home.master.subtitle }}</p>
							<span class="style-meta color-inherit"><a class="link-unstyled" href="/obsessions/{{ home.master.obsession.href }}">{{ home.master.obsession.name }}</a> • épisode n°{{ home.master.number }} | Par {{ author(home.master) }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if home.articles %}
	<div class="row articles">
		<div class="col sm-mb-4g md-w-4c lg-ml-1c lg-w-5c pl-4g obsession-{{ home.articles[0].obsession.color }}">
			<h3 class="h3 snake-1"><a href="/obsessions/{{ home.articles[0].obsession.href }}/{{ home.articles[0].href }}" class="snake-container link-unstyled">{{ home.articles[0].title }}</a></h3>
			<p>{{ home.articles[0].intro }}</p>
			<p class="style-meta color-inherit"><a class="link-unstyled" href="/obsessions/{{ home.articles[0].obsession.href }}">{{ home.articles[0].obsession.name }}</a> • épisode n°{{ home.articles[0].number }}</p>
			<span class="style-meta">Par {{ author(home.articles[0]) }}</span>
		</div>
		<div class="col md-w-4c lg-w-5c pl-4g obsession-{{ home.articles[1].obsession.color }}">
			<h3 class="h3 snake-1"><a href="/obsessions/{{ home.articles[1].obsession.href }}/{{ home.articles[1].href }}" class="snake-container link-unstyled">{{ home.articles[1].title }}</a></h3>
			<p>{{ home.articles[1].intro }}</p>
			<p class="style-meta color-inherit"><a class="link-unstyled" href="/obsessions/{{ home.articles[1].obsession.href }}">{{ home.articles[1].obsession.name }}</a> • épisode n°{{ home.articles[1].number }}</p>
			<span class="style-meta">Par {{ author(home.articles[1]) }}</span>
		</div>
	</div>
	{% endif %}
</section>
{% if home.obsessions %}
<hr/>
<section class="container">
	<h2 class="sm-pl-1g md-ml-1c lg-ml-1c style-meta-larger mb-1g">Nos obsessions</h2>
	<ul class="obsessions row list-unstyled">
		{% for obsession in home.obsessions %}
		<li class="obsession-{{ obsession.color }}">
			<a href="/obsessions/{{ obsession.href }}" class="block relative no-overflow">
				<img class="responsive" src="/obsessions/{{ obsession.href }}/{{ obsession.img|default(obsession.href + "-mini.jpg") }}" alt="{{ obsession.alt }}" />
				<div class="overlay pattern-2"></div>
				<div class="overlay">
					<div class="snake-4-tmp">
						<div class="snake-container color-white" style="background-image: url(/obsessions/{{ obsession.href }}/{{ obsession.img|default(obsession.href + "-mini.jpg") }});">
							<div class="relative">
								<h3 class="h4">{{ obsession.title }}</h3>
								<p>{{ obsession.subtitle }}</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}
<hr/>
<section class="text-center">
	<h2 class="style-meta-large">Au fil des jours</h2>
	<ul class="list-unstyled list-inline mv-3g">
		<li class="col w-auto"><a class="btn-round" href="https://twitter.com/Lesjoursfr"><i>{{ icon("twitter", "Twitter") }}</i></a></li>
		<li class="col w-auto"><a class="btn-round" href="https://www.facebook.com/LesJoursfr/"><i>{{ icon("facebook", "Facebook") }}</i></a></li>
		<li class="col w-auto"><a class="btn-round" href="https://www.instagram.com/lesjoursfr/"><i>{{ icon("instagram", "Instagram") }}</i></a></li>
	</ul>
</section>
{% include "partials/_footer.html" %}
{% endblock %}