{% set page = { title: "Les Jours" } %}
{% extends "partials/_layout.html" %}

{% block content %}
{% if home.event|length %}
<section>
	<div class="container sm-ph-0">
		<div class="col sm-ph-0">
			<h2 class="sr">Événement</h2>
			{% set episode   = home.event|first|expand %}
			{% set obsession = episode.obsession|expand %}
			{%
				set cover = {
					class: "no-pattern with-gradient obsession-" + obsession.color,
					layout: "pv-5g sm-ph-2g md-pl-1c md-w-4c lg-pl-1c lg-w-5c",
					img: "/obsessions/" + obsession.href + "/" + episode.href + "/" + episode.img|default("img/header.jpg"),
					href: "/obsessions/" + obsession.href + "/" + episode.href + "/",
					title:    episode.title,
					subtitle: episode.subtitle,
					episode:  episode
				}
			%}
			{% include "partials/cover.html" %}
		</div>
	</div>

	{% if home.event|length > 1 %}
	<div class="container mt-2g">
		<div class="row">
			{% set une = home.event|slice(1) %}
			{% set class = "md-w-⅓" if une|length >= 3     else ""    %}
			{% set class = "md-w-½" if une|length % 2 == 0 else class %}
			{% for article in une %}
				{% set article   = article|expand %}
				{% set obsession = article.obsession|expand %}
				{%
					set article = {
						class: class,
						img: "/obsessions/" + obsession.href + "/" + article.href + "/" + article.img|default("img/header.jpg"),
						alt: article.alt,
						href: "/obsessions/" + obsession.href + "/" + article.href + "/",
						number: article.number,
						title: article.title,
						titleClass: "h5 mb-0 snake-3",
						intro: article.intro,
						obsession: obsession,
						authors: article.rel.authors
					}
				%}
				{% include "partials/article.html" %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
</section>
{% endif %}

{% if home.event|length and home.une|length %}
<hr/>
{% endif %}

{% if home.une|length %}
<section class="container lg-mh-1c lg-w-10c">
	<div class="row">
		<div class="col">
			<h2 class="sr">À la une</h2>
			{% set episode   = home.une|first|expand %}
			{% set obsession = episode.obsession|expand %}
			{%
				set cover = {
					class: "no-pattern obsession-" + obsession.color,
					layout: "pv-5g sm-ph-2g md-pl-1c md-w-4c lg-pl-1c lg-w-5c",
					img: "/obsessions/" + obsession.href + "/" + episode.href + "/" + episode.img|default("img/header.jpg"),
					href: "/obsessions/" + obsession.href + "/" + episode.href + "/",
					title:    episode.title,
					subtitle: episode.subtitle,
					episode:  episode
				}
			%}
			{% include "partials/cover.html" %}
		</div>
	</div>

	{% if home.une|length > 1 %}
	<div class="row mt-2g">
		{% set articles = home.une|slice(1) %}
		{% for article in articles %}
			{% set article   = article|expand %}
			{% set obsession = article.obsession|expand %}
			{%
				set article = {
					class: "md-w-½",
					img: "/obsessions/" + obsession.href + "/" + article.href + "/" + article.img|default("img/header.jpg") if loop.index0 < 2 else "",
					alt: article.alt,
					href: "/obsessions/" + obsession.href + "/" + article.href + "/",
					number: article.number,
					title: article.title,
					titleClass: "snake-3" if loop.index0 < 2 else "snake-3 snake-margin",
					intro: article.intro,
					obsession: obsession,
					authors: article.rel.authors
				}
			%}
			{% include "partials/article.html" %}
		{% endfor %}
	</div>
	{% endif %}

	{% if home["une-alt"] %}
	<div class="row mt-2g lg-mh-1c lg-w-10c">
		{% set dir = cycler("", " row-reverse") %}
		{% for article in home["une-alt"] %}
			{% set article   = article|expand %}
			{% set obsession = article.obsession|expand %}
			{% set class = "md-w-½" if loop.index > 2 else "mb-1g" %}
			{% set class = class + (dir.next() if loop.index0 < 2 else "") %}
			{%
				set article = {
					class: class,
					layout: "md-w-½" if loop.index0 < 2 else "",
					img: "/obsessions/" + obsession.href + "/" + article.href + "/" + article.img|default("img/header.jpg") if loop.index0 < 2 else "",
					alt: article.alt,
					href: "/obsessions/" + obsession.href + "/" + article.href + "/",
					number: article.number,
					title: article.title,
					titleClass: "snake-2" if loop.index0 < 2 else "snake-2 snake-padding",
					intro: article.intro,
					obsession: obsession,
					authors: article.rel.authors
				}
			%}
			{% include "partials/article.html" %}
		{% endfor %}
	</div>
	{% endif %}
</section>
{% endif %}

<hr/>
<div class="container lg-mh-1c lg-w-10c">
	<div class="row">
		<div id="cta-subscription" class="col mb-2g sm-mb-4g lg-w-½">
			<div class="pt-2g lg-pt-3g">
				<h2 class="h4">Abonnez-vous aux Jours</h2>
				<p class="mb-0 fw-bold-archer">Un journalisme singulier, curieux, obsessionnel.</p>
				<p class="fw-bold-archer">Pour <del>9 €</del> <ins>1 €</ins>, explorez le site pilote.</p>
				<a class="btn-primary btn-brand" href="/abonnement.html">S’abonner</a>
			</div>
		</div>
		<div id="cta-project" class="col mb-2g lg-w-½">
			<div class="pa-3g sm-pa-2g relative">
				<div class="overlay pattern α-25"></div>
				<h2 class="h4 relative">Les Jours, c’est quoi ?</h2>
				<ul class="relative">
					<li>Un site <a class="link" href="/obsessions/les-jours-c-quoi/les-jours-le-pilote/">indépendant</a> et <a class="link" href="/obsessions/les-jours-c-quoi/les-jours-combien/">sans pub</a>.</li>
					<li>L’actualité en <a class="link" href="/obsessions/les-jours-c-quoi/les-jours-tuto-obsession/">obsessions</a>.</li>
					<li>Découvrez <a class="link" href="/obsessions/les-jours-c-quoi/les-jours-l-equipe/">l’équipe</a>.</li>
				</ul>
				<a class="btn-round btn-white" href="/obsessions/les-jours-c-quoi/"><i>{{ icon("plus", "En savoir plus") }}</i></a>
			</div>
		</div>
	</div>
</div>

{% if home.obsessions %}
<hr/>
<section class="container lg-mh-1c lg-w-10c">
	<h2 class="pl-1g mb-1g style-meta-larger">Nos obsessions</h2>
	<ul class="obsessions row">
		{% for obsession in home.obsessions %}
			{% set obsession = obsession|expand %}
			<li class="col pa-1g md-w-½ lg-w-⅓ obsession-{{ obsession.color }}">
				{%
					set cover = {
						class: "small",
						img: "/obsessions/" + obsession.href + "/" + obsession.href + ".jpg",
						href: "/obsessions/#" + obsession.href,
						title: obsession.title,
						subtitle: obsession.subtitle
					}
				%}
				{% include "partials/cover.html" %}
			</li>
		{% endfor %}
	</ul>
</section>
{% endif %}

<hr/>
<section class="text-center">
	<h2 class="style-meta-large light">Au fil des jours</h2>
	<ul class="list-inline mv-3g">
		<li class="col w-auto"><a class="btn-round btn-brand" href="https://twitter.com/Lesjoursfr"><i>{{ icon("twitter", "Twitter") }}</i></a></li>
		<li class="col w-auto"><a class="btn-round btn-brand" href="https://www.facebook.com/LesJoursfr/"><i>{{ icon("facebook", "Facebook") }}</i></a></li>
		<li class="col w-auto"><a class="btn-round btn-brand" href="https://www.instagram.com/lesjoursfr/"><i>{{ icon("instagram", "Instagram") }}</i></a></li>
	</ul>
</section>
{% include "partials/_footer.html" %}
{% endblock %}