{%
	set page = {
		title: "Obsessions — Les Jours",
		class: "page-obsessions"
	}
%}
{% extends "partials/_layout.html" %}

{% block content %}
<div class="container">
	<div class="col">
		<div class="carousel-container">
			<ul class="carousel" data-interval="5000" data-state="running" role="listbox">
			{% for obsession in obsessions %}
				{% set obsession = obsession|expand %}
				{%
					set cover = {
						tag: "li",
						class: "obsession-" + obsession.color,
						img: "/obsessions/" + obsession.href + "/" + obsession.href + ".jpg",
						href: "/obsessions/" + obsession.href,
						title: obsession.title,
						subtitle: obsession.subtitle,
						desc: obsession.desc
					}
				%}
				{% include "partials/cover.html" %}
			{% endfor %}
			</ul>
		</div>
		<div class="carousel-controls relative text-center">
			<button class="btn" data-direction="backward"><i>{{ icon("angle-left", "Obsession précédente") }}</i></button>
			<ul class="list-inline" role="presentation">
			{% for obsession in obsessions %}
				<li{% if loop.first %} class="selected"{% endif %}>●</li>
			{% endfor %}
			</ul>
			<button class="btn"><i>{{ icon("angle-right", "Obsession suivante") }}</i></button>
		</div>
	</div>
</div>
{% endblock %}