{% set page = { title: "Les Jours — Articles" } %}
{% extends "partials/layout/layout.html" %}

{% block content %}
<div class="row">
	<a class="col w-½ mb-2g inline-block" href="#"><img class="responsive" src="/obsessions/good-com-bad-cop/le-charbon-l-ennemi-utile/img/pouyanne-oil-and-climate-initiative.jpg" alt="" /></a>
	<div class="col w-½ mb-2g">
		<h2 class="h4 snake-2"><a class="snake-container" href="#">On rigole entre potes</a></h2>
		<p class="mb-1g">Les entreprises françaises annoncent se désengager de l'énergie fossile la plus polluante. Paroles, paroles…</p>
		<p class="mb-0 style-meta lh-inherit color-main"><a href="#">Good com, bad Cop</a> • épisode n°16</p>
		<p class="mb-0 style-meta lh-inherit">Par <a class="text-upper" href="#">Nicolas Cori</a></p>
	</div>
</div>

<div class="row row-reverse">
	<a class="col w-½ mb-2g inline-block" href="#"><img class="responsive" src="/obsessions/good-com-bad-cop/le-charbon-l-ennemi-utile/img/pouyanne-oil-and-climate-initiative.jpg" alt="" /></a>
	<div class="col w-½ mb-2g ">
		<h2 class="h4 snake-2"><a class="snake-container" href="#">On rigole entre potes</a></h2>
		<p class="mb-1g">Les entreprises françaises annoncent se désengager de l'énergie fossile la plus polluante. Paroles, paroles…</p>
		<p class="mb-0 style-meta lh-inherit color-main"><a href="#">Good com, bad Cop</a> • épisode n°16</p>
		<p class="mb-0 style-meta lh-inherit">Par <a class="text-upper" href="#">Nicolas Cori</a></p>
	</div>
</div>

<div class="row" style="width: 50%">
	<a class="col mb-2g inline-block" href="#"><img class="responsive" src="/obsessions/good-com-bad-cop/le-charbon-l-ennemi-utile/img/pouyanne-oil-and-climate-initiative.jpg" alt="" /></a>
	<div class="col mb-2g">
		<h2 class="h4 snake-3"><a class="snake-container" href="#">On rigole entre potes</a></h2>
		<p class="mb-1g">Les entreprises françaises annoncent se désengager de l'énergie fossile la plus polluante. Paroles, paroles…</p>
		<p class="mb-0 style-meta lh-inherit color-main"><a href="#">Good com, bad Cop</a> • épisode n°16</p>
		<p class="mb-0 style-meta lh-inherit">Par <a class="text-upper" href="#">Nicolas Cori</a></p>
	</div>
</div>

<div class="row" style="width: 50%">
	<div class="col mb-2g">
		<h2 class="h4 snake-3 snake-margin"><a class="snake-container" href="#">On rigole entre potes</a></h2>
		<p class="mb-1g">Les entreprises françaises annoncent se désengager de l'énergie fossile la plus polluante. Paroles, paroles…</p>
		<p class="mb-0 style-meta lh-inherit color-main"><a href="#">Good com, bad Cop</a> • épisode n°16</p>
		<p class="mb-0 style-meta lh-inherit">Par <a class="text-upper" href="#">Nicolas Cori</a></p>
	</div>
</div>

<div class="row" style="width: 224px">
	<a class="col mb-2g inline-block" href="#"><img class="responsive" src="/obsessions/good-com-bad-cop/le-charbon-l-ennemi-utile/img/pouyanne-oil-and-climate-initiative.jpg" alt="" /></a>
	<div class="col mb-2g">
		<h2 class="h5 mb-0"><a href="#">Meeting de papy</a></h2>
		<p class="mb-1g">Les entreprises françaises annoncent se désengager de l'énergie fossile la plus polluante. Paroles, paroles…</p>
		<p class="mb-0 style-meta lh-inherit color-main"><a href="#">Good com, bad Cop</a> • épisode n°16</p>
		<p class="mb-0 style-meta lh-inherit">Par <a class="text-upper" href="#">Nicolas Cori</a></p>
	</div>
</div>
{% endblock %}