{% set page = { title: "Grid" } %}
{% set body = { class: "grid" } %}
{% extends "partials/layout/layout.html" %}

{% block content %}
	<style scoped>
		.grid          { background-color: #E5007D; }
		.grid .col     { background-color: #0096C7; }
		.grid .col div { background-color: #FFF; }
		.grid .container,
		.grid .row  { margin-bottom: 10px; }
		.grid .row  { text-align: center; }
	</style>
	<div class="grid container">
		<div class="row">
			<div class="col sm-w-1c"><div>.sm-w-1c</div></div>
			<div class="col sm-w-1c"><div>.sm-w-1c</div></div>
			<div class="col sm-w-1c"><div>.sm-w-1c</div></div>
			<div class="col sm-w-1c"><div>.sm-w-1c</div></div>
		</div>
		<div class="row">
			<div class="col sm-ml-1c sm-w-1c"><div>.sm-w-1c</div></div>
			<div class="col sm-w-1c"><div>.sm-w-1c</div></div>
			<div class="col sm-w-1c"><div>.sm-w-1c</div></div>
		</div>
		<div class="row">
			<div class="col sm-w-2c"><div>.sm-w-2c</div></div>
			<div class="col sm-w-2c"><div>.sm-w-2c</div></div>
		</div>
		<div class="row">
			<div class="col sm-w-3c"><div>.sm-w-3c</div></div>
			<div class="col sm-w-1c"><div>.sm-w-1c</div></div>
		</div>
		<div class="row">
			<div class="col sm-w-4c"><div>.sm-w-4c</div></div>
		</div>
	</div>
	<div class="grid container">
		<div class="row">
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
		</div>
		<div class="row">
			<div class="col md-w-2c"><div>.md-w-2c</div></div>
			<div class="col md-w-2c"><div>.md-w-2c</div></div>
			<div class="col md-w-2c"><div>.md-w-2c</div></div>
			<div class="col md-w-2c"><div>.md-w-2c</div></div>
		</div>
		<div class="row">
			<div class="col md-w-3c"><div>.md-w-3c</div></div>
			<div class="col md-w-3c"><div>.md-w-3c</div></div>
			<div class="col md-w-2c"><div>.md-w-2c</div></div>
		</div>
		<div class="row">
			<div class="col md-w-4c"><div>.md-w-4c</div></div>
			<div class="col md-w-4c"><div>.md-w-4c</div></div>
		</div>
		<div class="row">
			<div class="col md-w-5c"><div>.md-w-5c</div></div>
			<div class="col md-w-3c"><div>.md-w-3c</div></div>
		</div>
		<div class="row">
			<div class="col md-w-6c"><div>.md-w-6c</div></div>
			<div class="col md-w-2c"><div>.md-w-2c</div></div>
		</div>
		<div class="row">
			<div class="col md-w-7c"><div>.md-w-7c</div></div>
			<div class="col md-w-1c"><div>.md-w-1c</div></div>
		</div>
		<div class="row">
			<div class="col md-w-8c"><div>.md-w-4c</div></div>
		</div>
	</div>
	<div class="grid container">
		<div class="row">
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-2c"><div>.lg-w-2c</div></div>
			<div class="col lg-w-2c"><div>.lg-w-2c</div></div>
			<div class="col lg-w-2c"><div>.lg-w-2c</div></div>
			<div class="col lg-w-2c"><div>.lg-w-2c</div></div>
			<div class="col lg-w-2c"><div>.lg-w-2c</div></div>
			<div class="col lg-w-2c"><div>.lg-w-2c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-3c"><div>.lg-w-3c</div></div>
			<div class="col lg-w-3c"><div>.lg-w-3c</div></div>
			<div class="col lg-w-3c"><div>.lg-w-3c</div></div>
			<div class="col lg-w-3c"><div>.lg-w-3c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-4c"><div>.lg-w-4c</div></div>
			<div class="col lg-w-4c"><div>.lg-w-4c</div></div>
			<div class="col lg-w-4c"><div>.lg-w-4c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-5c"><div>.lg-w-5c</div></div>
			<div class="col lg-w-5c"><div>.lg-w-5c</div></div>
			<div class="col lg-w-2c"><div>.lg-w-2c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-6c"><div>.lg-w-6c</div></div>
			<div class="col lg-w-6c"><div>.lg-w-6c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-7c"><div>.lg-w-7c</div></div>
			<div class="col lg-w-5c"><div>.lg-w-5c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-8c"><div>.lg-w-8c</div></div>
			<div class="col lg-w-4c"><div>.lg-w-4c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-9c"><div>.lg-w-9c</div></div>
			<div class="col lg-w-3c"><div>.lg-w-3c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-10c"><div>.lg-w-10c</div></div>
			<div class="col lg-w-2c"><div>.lg-w-2c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-11c"><div>.lg-w-11c</div></div>
			<div class="col lg-w-1c"><div>.lg-w-1c</div></div>
		</div>
		<div class="row">
			<div class="col lg-w-12c"><div>.lg-w-12c</div></div>
		</div>
	</div>
{% endblock %}