{% set page = { title: "LesJours — Player" } %}
{% extends "partials/_layout.html" %}

{% block content %}
<article style="padding-top: 100px">
	<div class="container">
		<div class="row article-container">
			<figure>
				<div class="player">
					<div class="container">
						<audio aria-hidden="true">
							<source type="audio/webm" src="/_/episode/audio/1.webm" />
							<source type="audio/mp4"  src="/_/episode/audio/1.m4a" />
						</audio>
						<button class="btn-blank" type="button">
							<div class="container">
								<img class="responsive" src="/img/profile.svg" alt="" />
							</div>
						</button>
					</div>
				</div>
			</figure>
		</div>
	</div>
</article>
{% endblock %}