{% set page = { title: "Les Jours — Snake" } %}
{% extends "partials/layout/layout.html" %}

{% block content %}
	<style>
		.overlay {
			background-color: rgba(243, 223, 147, .9);
			background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path fill='rgba(0, 0, 0, .2)' d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>");
			background-size: 2px 4px;

			padding: 60px 45px 0 50px;

			position: absolute;
			top:    0;
			right:  0;
			bottom: 0;
			left:   0;
		}

		.snake-3 .snake-container,
		.snake-3 .snake-wrapper {
			background-position: -50px -60px; /* Same as the parent's offset */
			background-size: calc(100% + 50px + 45px); /* 100% + parent's offset */
		}

		/* Same as the overlay */
		.snake-3 .snake-wrapper {
			background-color: rgba(243, 223, 147, .9);
			background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path fill='rgba(0, 0, 0, .2)' d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>");
			background-size: 2px 4px;
		}
	</style>
	<div class="container" style="padding-top: 100px">
		<div class="row md-mb-1c">
			<div class="col md-ml-1c md-w-6c lg-ml-2c lg-w-8c">
				<h1 class="snake-1"><span class="snake-container">Livre</span></h1>
			</div>
		</div>
		<div class="row md-mb-1c">
			<div class="col ml-ml-1c md-w-6c lg-ml-2c lg-w-8c">
				<h1 class="snake-2"><span class="snake-container">Des élèves</span></h1>
			</div>
		</div>

		<div class="row md-mb-1c">
			<div class="col md-ml-1c md-w-3c lg-ml-2c lg-w-4c">
				<div style="position: relative">
					<img style="width: 100%" src="/obsessions/good-com-bad-cop/img/person-1.jpg" alt="" />
					<div class="overlay">
						<h1 class="snake-3">
							<span class="snake-container" style="background-image: url(/obsessions/good-com-bad-cop/img/person-1.jpg)"><span class="snake-wrapper">Judith</span></span></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}