<section id="episodes" class="tab" role="tabpanel" aria-labelledby="tab-episode" aria-hidden="false">
	<h3 class="gutter-left-1 gutter-bottom-2 style-meta-larger">Les épisodes</h3>
	<article class="gutter-1">
		<img class="responsive gutter-bottom-2" src="img/episode/header.jpg" alt="" />
		<h4 class="h4 snake-2"><span class="snake-container">Des élèves et des préjugés</span></h4>
		<p>Mardi, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes et homophobes.</p>
		<p class="style-meta">25 sept. 2015 • épisode 17 | Texte <a href="#">Alice Géraud</a> • Photos <a href="#">Simon Lambert</a></p>
		<p>Elle s’applique, liant ses lettres d’un trait appuyé de stylo-bille. À côté du mot <q>arabe</q>, elle a écrit <q>voleur</q>. Une grande partie des élèves de cette classe de troisième a eu la même idée. Sans se concerter. Les mots sont posés sans gêne, provocation ou colère. Son voisin d’en face, un grand garçon souriant, a lui écrit le mot <q>islamiste</q>. Un autre encore a mis <q>violeur</q>. Lundi dernier, ces élèves du collège Gabriel-Péri d’Aubervilliers (Seine-Saint-Denis) ont participé durant 2 heures au programme CoExist, un dispositif. (…)</p>
		<div class="more text-center">
			<a class="btn" href="#"><i>Lire</i></a>
		</div>
	</article>
</section><!-- end of #episodes -->