/* @group Affix */
[data-spy=affix] {
	position: absolute;
	top:   0;
	right: 0;
	left:  0;
	z-index: 10000;

	&.fixed {
		position: fixed;
		transform: translateY(-100%);
		will-change: transform; // Give a hint to the browser that the header is very likely to be transformed
	}

	&.animated { transition: transform .3s; }
	&.show     { transform: none; }
}
/* @end Affix */