/* @group Buttons */
.btn-blank {
	background: none;
	padding: 0;
	border:  0;
}

.btn,
.btn-primary,
.btn-round,
.btn-square {
	background: none;

	padding: 0;
	border:  0;

	display: inline-block;

	@extend %font-proxima;
	@include font-weight-bold("proxima");
	font-size: .8125rem; // Always 13px (1rem = 16px)

	text-align: center;
	text-decoration: none; // For links
	text-transform: uppercase;

	color: inherit; // For links
}

.btn-round {
	width: 3.5em;
	position: relative;
	line-height: 3.5em;
	color: $color-white;

	&::before {
		background: $color-brand;

		width:  100%;
		height: 100%;
		border-radius: 50%;

		content: "";
		display: block;
		position: absolute;

		transition: transform .3s;
		backface-visibility: hidden;
	}

	&:hover::before,
	&:focus::before { transform: scale(.9); }

	> i,
	> span {
		display: block;
		position: relative;
		top: 1px; // Seriously…

		font-style: normal;
	}
}

.btn-square {
	padding: 2px .5em 0;
	border:  2px solid transparent;
	line-height: 19px;

	&:hover,
	&:focus { border-color: inherit; }
}

.btn-primary {
	background: $color-brand;

	font-size: 1rem; // Always 16px (1rem = 16px)
	line-height: 4.5;

	color: $color-white;
}

.btn-reverse {
	color: $color-brand;
	&::before { background: $color-white; }
}

.btn-transparent {
	color: currentColor;
	&::before { content: none; }
}

.btn-white {
	color: inherit;
	&::before { background: $color-white; }
}
/* @end Buttons */