/* @group .carousel */
/* Thanks to Nick Walsh for the idea (http://madewithenvy.com/ecosystem/articles/2015/exploring-order-flexbox-carousel/) */
.carousel-container {
	overflow: auto;
	.js & { overflow: hidden; }
}

	/* This carousel might be tricky to understand (good luck) */
	.carousel {
		padding: 0;
		margin:  0;

		display: flex;

		transition: transform .5s;
		transform: none;

		list-style: none;

		.js & {
			position: relative;
			left: -100%;
		}

		&.hold {
			transition: transform 0s;
			transform:  translateX(100%);

			&.reverse { transform: translateX(-100%); }
		}

		li {
			flex: 1 0 100%;
			order: 2;

			/* The last item have to be set as first */
			.js &:last-child { order: 1; }
		}
	}
/* @end of .carousel */