/* @group .carousel */
/* Thanks to Nick Walsh for the idea (http://madewithenvy.com/ecosystem/articles/2015/exploring-order-flexbox-carousel/) */
.carousel-container {
	overflow: auto;
	.js & { overflow: hidden; }
}

	/* This carousel might be tricky to understand (good luck) */
	.carousel {
		display: flex;

		transition: transform .5s cubic-bezier(.23, 1, .32, 1);
		transform: none;

		li { flex: 1 0 100%; }

		.js & { position: relative; }
	}
/* @end of .carousel */