/* @group .default-content */
$gutter: grid-gutter("sm");

.default-content {
	@extend %font-proxima;
	@include font-weight-regular("proxima");

	> :first-child { margin-top:    $gutter; }
	> *            { margin-bottom: $gutter; }
}

@include media("md") {
	$gutter: grid-gutter("md");

	@if $gutter != grid-gutter("sm") {
		.default-content {
			> :first-child { margin-top:    $gutter; }
			> *            { margin-bottom: $gutter; }
		}
	}
}

@include media("lg") {
	$gutter: grid-gutter("lg");
	@if $gutter != grid-gutter("md") {
		.default-content {
			> :first-child { margin-top:    $gutter; }
			> *            { margin-bottom: $gutter; }
		}
	}
}
/* @end .default-content */