/* @group .interview */
.interview {
	.question {
		@extend %font-archer-smcp;
		@include font-weight-bold("archer");

		&::before {
			content: "• ";
			color: $color-brand;
		}
	}

	.question,
	.answer { margin-bottom: .75em; }
}

@each $colors in $colors-obsessions {
	$i:     index($colors-obsessions, $colors);
	$color: map-get($colors, "main");

	.obsession-#{$i} .question::before { color: $color; }
}
/* @end .interview */