/* @group Modal */
$gutter: grid-gutter("sm");
$margin: grid-margin("sm");

.modal {
	background:
		url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>") 0 / 2px 4px
		rgba($color-black, .7);

	display: none;
	overflow: auto;

	position: fixed;
	top:    0;
	right:  0;
	bottom: 0;
	left:   0;
	z-index: 20000;

	@extend %font-proxima;
	@include font-weight-regular("proxima");

	&:target { display: block; }

	[role="document"] {
		background: $color-white;

		box-sizing: border-box;
		min-height: 100%;
		padding: ($margin * 3) $margin $margin;

		padding:     $margin;
		padding-top: $margin * 3;

		color: $color-main;
	}

	.close {
		position: absolute;
		top:   $gutter;
		right: $gutter;

		color: $color-brand;

		// Picky designer is picky
		> span {
			margin-right: .5em;
			position: relative;
			top: 1.5px;
		}

		svg {
			width:  24px;
			height: 24px;
		}
	}
}

.has-modal { @extend body.fixed; }

@include media("md") {
	$gutter: grid-gutter("md");
	$margin: grid-margin("md");

	.modal [role="document"] {
		width:      400px;
		min-height: 400px;

		position: absolute;
		top:  50%;
		left: 50%;

		transform: translateY(-50%) translateX(-50%);
	}

	@if $gutter != grid-gutter("sm") {
		.modal .close {
			top:   $gutter;
			right: $gutter;
		}
	}

	@if $margin != grid-margin("sm") {
		.modal [role="document"] { padding: ($margin * 3) $margin $margin; }
	}
}

@include media("lg") {
	$gutter: grid-gutter("lg");
	$margin: grid-margin("lg");

	@if $gutter != grid-gutter("md") {
		.modal .close {
			top:   $gutter;
			right: $gutter;
		}
	}

	@if $margin != grid-margin("md") {
		.modal [role="document"] { padding: ($margin * 3) $margin $margin; }
	}
}
/* @end Modal*/