/* @group Modal */
$gutter: grid-gutter("sm");

.modal {
	background:
		url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>") 0 / 2px 4px
		rgba($color-black, .7);

	display: none;
	overflow: auto;

	position: fixed;
	top:    0;
	right:  0;
	bottom: 0;
	left:   0;
	z-index: 20000;

	&:target { display: block; }

	[role="document"] {
		background: $color-white;
		padding: $gutter;
		color: $color-main;
	}

	.close {
		position: absolute;
		top:   $gutter;
		right: $gutter;

		svg {
			width:  24px;
			height: 24px;
		}
	}
}

@include media("md") {
	$gutter: grid-gutter("md");

	.modal [role="document"] {
		position: absolute;
		top:  50%;
		left: 50%;

		transform: translateY(-50%) translateX(-50%);
	}

	@if $gutter != grid-gutter("sm") {
		.modal {
			[role="document"] { padding: $gutter; }

			.close {
				top:   $gutter;
				right: $gutter;
			}
		}
	}
}

@include media("lg") {
	$gutter: grid-gutter("lg");
	@if $gutter != grid-gutter("md") {
		.modal {
			[role="document"] { padding: $gutter; }

			.close {
				top:   $gutter;
				right: $gutter;
			}
		}
	}
}
/* @end Modal*/