/* @group .snake */
/*csslint known-properties:false */
$gutter: grid-gutter("sm");

.snake {
	border: 4px solid $color-brand;
	position: absolute;
}

.snake-1,
.snake-2,
.snake-3 { position: relative; }

	.snake-1:before,
	.snake-2:before,
	.snake-3:before {
		@extend .snake;
		content: "";
	}

	.snake-container {
		background: $color-white;
		display: block;
		position: relative;
	}

	.snake-1:before {
		width:  2em;
		height: 2em;
		left:   calc(-2em - 4px);
		bottom: calc(.25em + 4px);
	}

	.snake-1 .snake-container {
		padding-left: .25em;
		margin-left: -.25em;
	}

	.snake-2:before {
		width:  3em;
		height: 150%;
		min-height: 3em;
		left:   calc(-#{$gutter} - 4px);
		bottom: -.75em;
	}

	.snake-3:before {
		width:  55px;
		top:    -14px;
		bottom: -14px;
		left:   calc(-#{$gutter} - 4px);
	}

	.snake-3 .snake-wrapper { display: block; }

@each $color in $colors-obsessions {
	$i: index($colors-obsessions, $color);
	.obsession-#{$i} .snake-1:before,
	.obsession-#{$i} .snake-2:before,
	.obsession-#{$i} .snake-3:before { border-color: $color; }
}

@include media("md") {
	$gutter: grid-gutter("md");

	@if $gutter != grid-gutter("sm") {
		.snake-2:before,
		.snake-3:before { left: calc(-#{$gutter} - 4px); }
	}
}

@include media("lg") {
	$gutter: grid-gutter("lg");
	@if $gutter != grid-gutter("md") {
		.snake-2:before,
		.snake-3:before { left: calc(-#{$gutter} - 4px); }
	}
}
/* @end .snake */