%font-archer {
	font-family: "Archer SSm A", "Archer SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}

%font-brandon {
	font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}

%font-proxima {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}

@mixin font-weight-thin($font: "")        { font-weight: 100; }
@mixin font-weight-extra-light($font: "") { font-weight: 200; }
@mixin font-weight-light($font: "")       { font-weight: if($font == "archer", 400, 300); }
@mixin font-weight-regular($font: "")     { font-weight: if($font == "archer", 500, 400); }
@mixin font-weight-medium($font: "")      { font-weight: if($font == "archer", 600, 500); }
@mixin font-weight-semi-bold($font: "")   { font-weight: if($font == "archer", 700, 600); }
@mixin font-weight-bold($font: "")        { font-weight: if($font == "archer", 800, 700); }
@mixin font-weight-extra-bold($font: "")  { font-weight: 800; }
@mixin font-weight-black($font: "")       { font-weight: 900; }

/* Headings */
.h2, .h3, .h4, .h5, .h6 {
	@extend %font-brandon;
	@include font-weight-black("brandon");
	line-height: 1;
}

.h2 { font-size: 2rem;     }
.h3 { font-size: 1.75rem;  }
.h4 { font-size: 1.5rem;   }
.h5 { font-size: 1.125rem; }
.h6 { font-size: .8125rem; }

.h2 { margin-bottom: 0.25em; }
.h3,
.h4 { margin-bottom: 0.5em; }
.h5,
.h6 { margin-bottom: 0.75em; }

.h5 { line-height: 1.25; }
.h6 { line-height: 1.5;  }

.h6 { @include font-weight-medium("brandon"); }

/* Body */
.p {
	@extend %font-archer;
	@include font-weight-medium("archer");
	line-height: 1.5;
}

.p-larger {
	@extend %font-archer;
	@include font-weight-semi-bold("archer");
	font-size:   1.071428em; // Roughly +1px (don't ask why)
	line-height: 1.333333;
}

/* Meta */
.style-meta {
	@extend %font-proxima;
	@include font-weight-bold("proxima");
	font-size: .8125em;
	line-height: 2;
	color: $color-dark;
}

.style-meta a { padding: 0.075em 0; }

.style-meta-large {
	@extend %font-proxima;
	@include font-weight-regular("proxima");
	font-size: 1.5em;
	line-height: 1.75;
}

.style-meta-larger {
	@extend %font-proxima;
	@include font-weight-light("proxima");
	font-size: 2em;
	line-height: 1.166667;
}

@include media("md") {
	.h2 { font-size: 4.375rem; }
	.h3 { font-size: 3.125rem; }
	.h4 { font-size: 2.25rem;  }
	.h5 { font-size: 1.5rem;   }
	.h6 { font-size: .875rem;  }

	.p-larger { font-size: 1.625em; }
}