/* @group Utility */
// Mixins
.clearfix { @include clearfix; }
.fadable,
%fadable { @include fadable; }
.fadable:hover,
.fadable:focus,
%fadable-active { @include fadable-active; }
.responsive { @include responsive; }

/* Quick overflow: hidden */
.no-overflow { overflow: hidden; }

/* Easy link's style */
.link,
%link {
	background-image: linear-gradient(to bottom, $color-media, $color-media);
	background-position: 0 1em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: .125em 0;

	// Don't use display: inline-block since it might cause issues with long links
	transition: background-position .15s;

	font-weight: bold; // Don't use the font-weight-* mixin here since we don't know which font will be used
	text-decoration: none;
	text-transform: uppercase;

	color: $color-main;
}

.link:hover,
.link:focus,
%link-active { background-position: 0 0; }

@each $color in $colors-obsessions {
	$i: index($colors-obsessions, $color);
	.obsession-#{$i} .link.obsession { background-image: linear-gradient(to bottom, rgba($color, .5), rgba($color, .5)); }
}

.link-unstyled {
	background: none;
	padding: 0;
	text-decoration: none;
	text-transform: none;
	color: currentColor;
}

/* List utility classes */
.list-unstyled { list-style: none; }

.list-inline > li,
.list-inline-dotted > li { display: inline-block; }

.list-inline-dotted li:after            { content: " • "; }
.list-inline-dotted li:last-child:after { content: "";    }

/* Quick overlay */
.overlay {
	position: absolute;
	top:    0;
	right:  0;
	bottom: 0;
	left:   0;
}

/* Patterns */
// Two dots with 0.2 opacity
.pattern-1 {
	background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path fill='rgba(0, 0, 0, .2)' d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>");
	background-size: 2px 4px;
}

/* Quick float */
.pull-left  { float: left;  }
.pull-right { float: right; }

/* Quick position: relative */
.relative { position: relative; }

/* Screen reader only */
.sr,
.sr-focusable { @include sr; }

.sr-focusable:active,
.sr-focusable:focus {
	width: auto;
	height: auto;
	margin: 0;

	overflow: visible;
	position: static;
	clip: auto;
}

.text-left   { text-align: left;   }
.text-center { text-align: center; }
.text-right  { text-align: right;  }
/* @end Utility */