<div id="login-error" class="modal" role="dialog" tabindex="-1">
	<form action="/session" method="post" role="document">
		<fieldset>
			<legend class="style-meta-larger mb-2g">Se connecter</legend>
			<a class="btn close" href="#">
				<span>Fermer<span class="sr"> cette fenêtre</span></span>
				{{ icon("close") }}
			</a>
			<p class="color-brand">Merci de vérifier vos informations de connexion.</p>
			<div class="field">
				<label for="login-error-mail">Adresse e-mail</label>
				<input id="login-error-mail" class="input check" name="mail" type="email" placeholder="mon-email@exemple.com" autocomplete="email" required />
			</div>
			<div class="field">
				<label for="login-error-password">Mot de passe</label>
				<input id="login-error-password" class="input check" name="password" type="password" placeholder="××××××××" required />
			</div>
			<a class="link external style-meta" href="#forgot">J’ai oublié mon mot de passe</a>
			<button class="btn-primary btn-brand w-100 mv-4g" type="submit">Valider</button>
			<p class="style-meta mb-0 text-upper color-main">Pas encore jouriste ? <a class="color-brand" href="/abonnement.html">Abonnez-vous maintenant</a>.</p>
		</fieldset>
	</form>
</div><!-- end of #login-error -->