<div id="unsubscribed" class="modal" role="dialog" tabindex="-1">
	<div role="document">
		<h2 class="style-meta-larger mb-2g">Se désabonner</h2>
		<a class="btn close" href="#">
			<span>Fermer<span class="sr"> cette fenêtre</span></span>
			{{ icon("close") }}
		</a>
		<p>Vous êtes à présent désabonné.<br/>
		Nous sommes tristes de vous voir partir. :(</p>
		<p>Vous allez recevoir un e-mail de confirmation.</p>
		<p>À bientôt ?</p>
		<p>L’équipe des Jours</p>
	</div>
</div><!-- end of #unsubscribed -->