<div id="unsubscribe" class="modal" role="dialog" tabindex="-1">
	<div class="min-h-0" role="document">
		<h2 class="style-meta-larger mb-2g">Se désabonner</h2>
		<a class="btn close" href="#">
			<span>Fermer<span class="sr"> cette fenêtre</span></span>
			{{ icon("close") }}
		</a>
		<p>Êtes-vous sûr de vouloir vous désabonner ?</p>
		<a class="w-100 mb-2g btn-primary btn-brand" href="?unsubscribe">Valider</a>
		<a class="w-100 btn-primary btn-brand btn-square btn-reverse btn-white" href="#">Annuler</a>
	</div>
</div><!-- end of #unsubscribe -->