# Prevent sending a Content-Location when trying to access a PHP page without extension (calling /_account, the server will respond with a Content-Location set to /_account.php)
Options -MultiViews

RewriteEngine On
RewriteBase /

# Fix some URLs to hide that they are handled by PHP
RewriteRule ^(_account|abonnement|mon-compte).html$ $1.php [L]
RewriteRule ^session$ session.php [L]

# Protect the /obsession folder
# Still, allows URL ending with jpg
# Then, the tricky part starts:
#   Rewrite only if this is the main request (not a sub-request)
#   The script will check if the user is authorized
#   If so, it will make a sub-request to the request URI
#   If not, it will redirect to something else
RewriteCond %{REQUEST_URI} ^/obsessions
RewriteCond %{REQUEST_URI} !jpg$
RewriteCond %{IS_SUBREQ}   false
RewriteRule .* session [L]

# Disallow direct access on PHP files
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule php$ - [R=404,L]