AddDefaultCharset utf-8
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

<IfModule mod_headers.c>
	Header unset ETag

	# Prevent some browsers from MIME-sniffing the response
	Header set X-Content-Type-Options "nosniff"

	# Unset the X-Powered-By header, leaking the tool used to generate the page
	Header unset X-Powered-By
</IfModule>

# Gzip some MIME types
<IfModule mod_filter.c>
	AddOutputFilterByType DEFLATE "application/javascript" \
	                              "application/json" \
	                              "application/xml" \
	                              "image/svg+xml" \
	                              "image/x-icon" \
	                              "text/css" \
	                              "text/html" \
	                              "text/javascript" \
	                              "text/plain" \
	                              "text/vtt" \
	                              "text/xml"
</IfModule>
<IfModule mod_mime.c>
	AddEncoding gzip svgz
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault "access plus 1 week"

	ExpiresByType text/css               "access plus 1 day"
	ExpiresByType application/javascript "access plus 1 day"
	ExpiresByType text/javascript        "access plus 1 day"

	ExpiresByType text/html "access plus 0 seconds"
</IfModule>

# Prevent sending a Content-Location when trying to access a PHP page without extension (calling /_account, the server will respond with a Content-Location set to /_account.php)
Options -MultiViews
Options +FollowSymlinks
Options -Indexes

RewriteEngine On
RewriteBase /

# Prefer to store the favicons to img/favicon
# Some browsers still look for a favicon at the root
RewriteRule ^favicon.ico /img/favicon/favicon.ico [L]

# Fix some URLs to hide that they are handled by PHP
RewriteRule ^(_account|abonnement|erreur|mon-compte).html$ $1.php [L]
RewriteRule ^session$ session.php [L]

# Protect the /obsession folder
# Allows the obsession "les-jours-c-quoi"
# Also, allows URL ending with jpg
# Then, the tricky part starts:
#   Rewrite only if this is the main request (not a sub-request)
#   The script will check if the user is authorized
#   If so, it will make a sub-request to the request URI
#   If not, it will redirect to something else
RewriteCond %{REQUEST_URI}  ^/obsessions
RewriteCond %{REQUEST_URI} !^/obsessions/les-jours-c-quoi
RewriteCond %{REQUEST_URI} !jpg$
RewriteCond %{IS_SUBREQ}   false
RewriteRule .* session [L]

# Disallow direct access on PHP files
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule php$ - [R=404,L]

ServerSignature Off
#ServerTokens Prod