{% set page = { title: "LesJours" } %}
{% extends "partials/_layout.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="content col md-w-6c md-mh-1c lg-w-6c lg-ml-2c lg-mr-4c">
			<h2>Mentions légales</h2>

			<h3>Editeur</h3>
			<p>Les Jours est édité par la société Les Jours SAS.</p>
			<p>Capital social : 150 €</p>
			<p>Immatriculée sous le numéro 812 749 323 RCS Paris.</p>
			<p>Numéro de TVA intracommunautaire : FR 12 812749323</p>
			<p>Numéro de CPPAP : en cours d'obtention</p>
			<p>Siège social : 43 boulevard Voltaire 75011 Paris</p>
			<p>email : contact@lesjours.fr</p>
			<p>Directrice de la publication : Charlotte Rotman</p>

			<h3>Hébergeur</h3>
			<p>CLARANET</p>
			<p>SASU au capital de 1 400 000 € </p>
			<p>RCS Paris 419 632 286 00060</p>
			<p>Siège social : 18 rue du Faubourg du Temple - 75011 Paris - France.</p>

			<h3>CNIL</h3>
			<p>Conformément à la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, ce site web a fait l'objet d'une déclaration auprès de la Commission Nationale Informatique et Libertés (CNIL), qui en a délivré récépissé sous le numéro 1845162 v0, à la date du 20/03/2015. </p>
		</div>
	</div>
</div>
{% include "partials/_footer.html" %}
{% endblock %}