{% set page = { title: "Les Jours" } %}
{% extends "partials/layout/layout.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="default-content col md-w-6c md-mh-1c lg-w-6c lg-ml-2c lg-mr-4c">
			<h2 class="h2-alt">Mentions légales</h2>

			<h3 class="h3-alt">Editeur</h3>
			<p>Les Jours est édité par la société <i>Les Jours SAS</i>.</p>
			<ul class="list">
				<li>Capital social : 90 000 €</li>
				<li>Immatriculée sous le numéro 812 749 323 au <abbr title="Registre du Commerce et des Sociétés">RCS</abbr> de Paris.</li>
				<li>Numéro de <abbr title="Taxe sur la Valeur Ajoutée">TVA</abbr> intracommunautaire : FR 12 812749323</li>
				<li>Numéro de <abbr title="Commission Paritaire des Publications et des Agences de Aresse">CPPAP</abbr> : 0118 Y 92937</li>
				<li>Siège social : 14 rue de Rouen 75019 Paris</li>
				<li>E-mail : <a class="link text-inherit" href"mailto:contact@lesjours.fr">contact@lesjours.fr</a></li>
				<li>Directrice de la publication : Isabelle Roberts</li>
			</ul>

			<h3 class="h3-alt">Hébergeur</h3>
			<p><a class="link text-inherit" href="http://www.claranet.com/">Claranet</a></p>
			<ul class="list">
				<li><abbr title="Société par actions simplifiée unipersonnelle">SASU</abbr> au capital de 1 400 000 €</li>
				<li>Immatriculée sous le numéro 419 632 286 00060 au <abbr title="Registre du Commerce et des Sociétés">RCS</abbr> de Paris</li>
				<li>Siège social : 18 rue du Faubourg du Temple 75011 Paris</li>
			</ul>

			<h3 class="h3-alt">CNIL</h3>
			<p>Conformément à la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, ce site web a fait l’objet d’une déclaration auprès de la Commission Nationale Informatique et Libertés (CNIL), qui en a délivré récépissé sous le numéro 1845162 v0, à la date du 20/03/2015.</p>
		</div>
	</div>
</div>
{% include "partials/layout/footer.html" %}
{% endblock %}