/* @group Article */
$margin: grid-margin("sm");
$gutter: grid-gutter("sm");

%quote {
	// Please note that the fill color have to be "white" instead of #FFF (otherwise it won't work in firefox)
	background-image: url("data:image/svg+xml;charset=UTF-8,<svg viewBox='0 0 51 56' xmlns='http://www.w3.org/2000/svg'><path fill='white' d='M18.64 54.28c1.12 1.6 1.92 1.44 2.56 1.44h2.56c1.28 0 1.76-1.28.8-2.88L9.52 27.72 24.56 3.24c.96-1.6.48-2.88-.8-2.88H21.2c-.64 0-1.44-.16-2.56 1.44L1.36 26.44c-.48.8-.64 1.92 0 2.72l17.28 25.12zm8.32-25.12l17.28 25.12c1.12 1.6 1.92 1.44 2.56 1.44h2.56c1.28 0 1.76-1.28.8-2.88L35.12 27.72 50.16 3.24c.96-1.6.48-2.88-.8-2.88H46.8c-.64 0-1.44-.16-2.56 1.44L26.96 26.44c-.48.8-.64 1.92 0 2.72z' /></svg>");
	background-repeat: no-repeat;
}

article header { position: relative; } // Used to position the .snake

	article header img  {
		@include responsive;
		max-height: 615px;
	}

	// On mobile, the snake is stuck to the margins
	article header .snake {
		top:    $margin;
		right:  $margin;
		bottom: -4px; // Offset the border
		left:   $margin;
	}

	article header .h2  { margin-bottom: .5em; }
	article header time { display: inline-block; }

article a       { @extend %link; }
article a:hover,
article a:focus { @extend %link-active; }

article abbr  {}
article aside {}

	article aside p {
		@extend .h2;
		@include font-weight-bold("brandon");
		font-size: 2em;
		margin: 0;
	}

	article aside span { font-size: 1.333333em; }

// Archer's bold is actually bolder than the default "bold" (its font-weights seems wrong)
article b,
article strong { @include font-weight-bold("archer"); }

article blockquote { position: relative; }

	article blockquote:before {
		@extend %quote;
		background-color: $color-brand;
		background-position: 50% 50%;
		background-size: 0.7em 0.7em;

		width:  2.5em;
		height: 2.5em;
		border-radius: 50%;

		content: "";

		z-index: -1;
		position: absolute;
		top:  -.75em;
		left: 4px;

		font-size: 1.85em;
	}

	article blockquote p {
		padding-left: 1.75em;
		margin-bottom: .125em;

		@extend %font-brandon;
		@include font-weight-light("brandon");
		font-size: 1.85em;
		line-height: 1.15;
	}

	article blockquote p:last-of-type:after { content: " »"; }

	article blockquote footer {
		@extend .style-meta;
		padding-left: 4em;
	}

article dl,
article dt,
article dfn,
article dd {}

article figure {}

	article figcaption {
		@extend .snake-2;
		@extend .style-meta;
		margin-top: .75em;
		margin-left: $gutter * 2.25;
		color: inherit;
		line-height: inherit;
	}

	article figcaption:before {
		height: auto;
		top: -30px;
	}

	article figcaption > span { @extend .snake-container; }
	article figcaption > span .credits:before { content: "— "; }

	article figcaption .credits,
	article figcaption .credits a { @include font-weight-regular("proxima"); }

article h3 { @extend .h4; }
article h4 { @extend .h5; }
article h5 { @extend .h6; }

article h3,
article h4,
article h5 { margin-bottom: 0; }

article i,
article em { font-style: italic; }

article q:before   { content: "« "; }
article q:after    { content: " »"; }
article q q:before { content: "“"; }
article q q:after  { content: "”"; }

article table {}
	article caption {}
	article thead {}
	article tfoot {}
	article tbody {}
		article tr {}
			article th {}
			article td {}

article .dialogue {
	margin-top:    1.5em;
	margin-bottom: .75em;
}

	article .dialogue p        { margin-bottom: .75em; }
	article .dialogue p:before { content: "— "; }

article .glossary {}

	article .glossary h3  { font-size:  inherit; }
	article .glossary dfn { font-style: inherit; }

	article .glossary dt,
	article .glossary dd { display: inline; }

	article .glossary dt { @include font-weight-bold("archer"); }

	article .glossary dd:after {
		content: "";
		display: table;
		margin-bottom: 1em;
	}

	article .glossary dd:last-child:after { content: none; }

	article .glossary dfn:before { content: "• ";  }
	article .glossary dfn:after  { content: " : "; }

article .notes {}

	article .notes h3 { font-size: inherit;   }
	article .notes ol { counter-reset: notes; }

	article .notes ol li {
		margin-bottom: 1em;
		counter-increment: notes;
	}

	article .notes ol li:last-child { margin-bottom: 0; }

	article .notes :target { background: $color-media; }

	article .notes ol li:before {
		@include font-weight-bold("archer");
		content: "[" counter(notes) "] ";
	}

	article a[href^="#note"]:before { content: "["; }
	article a[href^="#note"]:after  { content: "]"; }

article .interview {
	margin-top:    .5em;
	margin-bottom: .75em;
}

	article .question {
		margin: 1.5em 0 .75em;
		@extend %font-archer-smcp;
		@include font-weight-bold("archer");
	}

	article .question:before {
		content: "• ";
		color: $color-brand;
	}

	article .answer { margin-bottom: .75em; }

article .lettrine {
	background-color: $color-brand;

	width: 1.6em;
	line-height: 1.6em;
	border-radius: 50%;
	margin: -.25em .15em 0 0;

	float: left;
	display: inline-block;

	@extend %font-brandon;
	@include font-weight-regular("brandon");
	font-size: 3.75em;

	text-align: center;

	color: $color-white;
}

article .lettrine::selection { background: transparent; }

article .lettrine.with-quote {
	@extend %quote;
	background-size: .25em .25em;
	background-position: .1875em 50%;
}

article .mini {
	position: absolute;
	right: 0;

	@extend %font-proxima;
	font-size: .875em;

	opacity: 0;
	transition: opacity .6s, transform .6s;
	transform: translateX(100%);

	color: $color-black;
}

article .mini.show {
	opacity: 1;
	transform: none;
}

	article .mini a { display: block; }

	article .mini.active a,
	article .mini a:hover,
	article .mini a:focus { color: $color-media; }

		article .mini .image {
			width:  80px;
			height: 80px;
			padding: 8px;
			border-radius: 50%;

			display: block;
			font-size: inherit;
		}

		article .mini .image,
		article .mini .player { margin: 0 auto .5em; }

		article .mini.active .image,
		article .mini a:hover .image,
		article .mini a:focus .image { background: $color-media; }

			article .mini .image img {
				box-sizing: border-box;
				height: 100%;
				border: 6px solid $color-white;
				border-radius: 50%;
			}

		article .mini p,
		article .mini figcaption {
			margin-left: calc((100% - 80px) / 2);
			margin-bottom: 0;
			font: inherit;
		}

		article .mini .title {
			@include font-weight-bold("proxima");
			text-transform: uppercase;
		}

		article .mini .subtitle {
			@include font-weight-semi-bold("proxima");
			color: $color-dark;
		}

		article .mini.active .subtitle,
		article .mini a:hover .subtitle,
		article .mini a:focus .subtitle { color: inherit; }

		article .mini figcaption,
		article .mini .caption {
			padding-top: .75em;
			border-top: 1px solid $color-dark;
			margin-top: .75em;

			@include font-weight-regular("proxima");
			font-size:  1em;
			font-style: italic;
		}

		article .mini figcaption:before { content: none; }

article .share { margin-bottom: 1.5em; }

	article .share li {
		margin-left:  1em;
		margin-right: 1em;
		display: inline-block;
	}

		article .share svg {
			width:  2em;
			height: 2em;
		}

// Consider every child of .article-container as a column
.article-container > * { @extend .col; }

.article-container a {
	background-position: 0 1.075em;
	text-transform: inherit;
}

.article-container > p { line-height: 1.75; }

.article-container > p:last-of-type:after {
	// Please note that the fill color have to be in RGB instead of hexadecimal (otherwise it won't work in firefox)
	background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><path fill='rgb(200, 62, 44)' d='M32 64c17.674 0 32-14.326 32-32S49.674 0 32 0 0 14.326 0 32s14.326 32 32 32zm.54-9c-2.814 0-6.126-1.886-6.126-7.052v-1.394c0-.574.497-1.066 1.076-1.066h.746c.58 0 1.076.492 1.076 1.066v1.558c0 .738.166 4.182 3.395 4.182 1.987 0 3.312-1.804 3.312-4.51V30.4c0-.327-.25-.655-.67-.655h-8.28c-.58 0-1.08-.492-1.08-1.066V10.06c0-.568.5-1.06 1.08-1.06h.74c.58 0 1.08.492 1.08 1.066v16.48c0 .33.24.657.66.657h8.36c.58 0 1.07.492 1.07 1.066v19.84C38.9 52.86 35.67 55 32.52 55z'/></svg>") no-repeat;

	width:  1em;
	height: 1em;
	margin-left: .25em;

	content: "";
	display: inline-block;

	vertical-align: middle;
}

.article-container > aside,
.article-container > blockquote,
.article-container > figure,
.article-container > table,
.article-container > ol,
.article-container > p,
.article-container > ul,
.article-container > .glossary,
.article-container > .notes {
	margin-top:    1.5em;
	margin-bottom: 1.5em;
}

.article-container ul,
.article-container ol {
	counter-reset: list;
	list-style: none;
}

	.article-container ul ul,
	.article-container ul ol,
	.article-container ol ul,
	.article-container ol ol { padding-left: 1em; }

	.article-container li { counter-increment: list; }
	.article-container li:before { @include font-weight-bold("archer"); }
	.article-container ul li:before { content: "• "; }
	.article-container ol li:before { content: "• " counter(list) " "; }
	.article-container ol ol li:before { content: "• " counter(list, lower-alpha) " "; }

	.article-container .mini { margin: 0; }
	.article-container .share li:before { content: none; }

	article > footer { padding-bottom: $margin; }

		article .meta {
			padding-right: $margin;
			padding-left:  $margin;
		}

			article .meta .row    { background: $color-white; }
			article .meta p       { margin: 0 1em 1em 0; }
			article .meta li      { margin-bottom: 1em; }
			article .meta a       { margin-left: .25em; }
			article .meta .tags a { margin-left: 0; }
			article .meta .tags a { background-image: linear-gradient(to bottom, $color-external, $color-external); }

		article .rel { background: $color-white; }
			article .rel li { display: inline-flex; }

				article .rel a {
					padding: 1em 0;
					flex: 1; // Grow so it will use 100% of the parent's height
					position: relative;
				}

				article .rel a,
				article .rel span { display: block; }

				article .rel i {
					margin-top:  -.5em;
					position: absolute;
					top: 50%;
					left: #{-$margin};

					font-size: 3em;
					color: $color-brand;
				}

				article .rel a[rel="next"] i {
					right: #{-$margin};
					left: auto;
				}

					article .rel i svg {
						width:  1em;
						height: 1em;
						display: block;
						position: relative;
					}

				article .rel a[rel="prev"] div { margin-left:  $gutter * 2; }
				article .rel a[rel="next"] div { margin-right: $gutter * 2; }

					article .rel .style-meta {
						font-size: .9375em;
						@include font-weight-semi-bold("proxima");
						line-height: 1.666667;
					}

					article .rel .h5 { margin: 0; }

@each $colors in $colors-obsessions {
	$i:     index($colors-obsessions, $colors);
	$main:  map-get($colors, "main");
	$light: map-get($colors, "light");
	article.obsession-#{$i} a.obsession { background-image: linear-gradient(to bottom, $light, $light); }

	article.obsession-#{$i} .snake,
	article.obsession-#{$i} figcaption:before { border-color: $main; }

	article.obsession-#{$i} blockquote:before { background-color: rgba($main, .75); }
	article.obsession-#{$i} .lettrine         { background-color: $main; }

	article.obsession-#{$i} aside span,
	article.obsession-#{$i} .question:before { color: $main; }
}

@include media("sm", true) {
	article .mini { display: none; }
}

@include media("md") {
	$margin: grid-margin("md");
	$gutter: grid-gutter("md");

	// On tablet and after, the snake is stuck to the column
	article header .snake {
		top:   0;
		right: 0;
		left:  -4px; // Offset the border
	}

	article blockquote p      { padding-left: 1.25em; }
	article blockquote footer { padding-left: 3em; }
	article figcaption   { margin-left: 0; }
	article .lettrine    { margin-left: -.5em; }

	article .share {
		@include fadable;
		position: absolute;
		top:    185px;
		bottom: 0;
		left:   0;
	}

	article .share.show { @include fadable-active; }

		article .share ul {
			margin: 1.5em 0;
			position: sticky;
			top: 1.5em;
		}

			article .share li {
				margin-left:  0;
				margin-right: 0;
				display: block;
			}

	.article-container > * { @extend .md-ml-1c; }
	.article-container > * { @extend .md-w-5c; }

	.article-container a { background-position: 0 1.0625em; }

	.article-container > p,
	.article-container > ul,
	.article-container > ol,
	.article-container > .interview,
	.article-container > .dialogue { font-size: 1.125em; }

	.article-container > .glossary,
	.article-container > .notes { font-size: 0.8125em; }

	.article-container .mini { margin-bottom: $gutter; }

	// We need to add some extra selectors since .article-container > * have an higher score than most of the classes
	.article-container .md-ml-0 { @extend .md-ml-0; }

	// We don't need to go through all the columns, we can stop before the "default" size
	@for $i from 1 through 4 {
		.article-container .md-w-#{$i}-c { @extend .md-w-#{$i}-c; }
	}

	// For columns having the "full" class, remove the margin and expand
	.article-container > .full { @extend .md-ml-0; }
	.article-container > .full { @extend .md-w-8c; }
	.article-container > .full figcaption { @extend .md-ml-1c; }

	article .rel i {
		margin-left: -.5em;
		left: 12.5%; // Half the total size
		color: $color-white;
	}

	article .rel a[rel="next"] i {
		margin-left: 0;
		margin-right: -.5em;
		right: 12.5%;
	}

		// Same as .btn-round:before (cannot extend since it is in a media query)
		article .rel i:before {
			background: $color-brand;

			width:  100%;
			height: 100%;
			border-radius: 50%;

			display: block;
			content: "";
			position: absolute;

			transition: transform .3s;
			backface-visibility: hidden;
		}

		article .rel a:hover i:before,
		article .rel a:focus i:before { transform: scale(0.9); }

	article .rel a[rel="prev"] div { margin-left:  25%; }
	article .rel a[rel="next"] div { margin-right: 25%; }

	@if $margin != grid-margin("sm") {
		article blockquote:before { left: #{-$margin / 2}; }

		article > footer { padding-bottom: $margin; }
		article .meta {
			padding-right: $margin;
			padding-left:  $margin;
		}
	}

	@if $gutter != grid-gutter("sm") {
		article figure .snake { left: #{-$gutter}; }
	}
}

@include media("lg") {
	$margin: grid-margin("lg");
	$gutter: grid-gutter("lg");

	article .mini .image,
	article .mini .player { float: left; }

	article .mini .title,
	article .mini .subtitle,
	article .mini figcaption {
		width: calc(100% - 96px - 1em);
		margin-left: 0;

		float: right;
	}

	article .mini .title { margin-top: 30px; }

	.article-container > * { @extend .lg-ml-2c; }
	.article-container > * { @extend .lg-w-6c; }

	// We need to add some extra selectors since .article-container > * have an higher score than most of the classes
	.article-container .lg-ml-0   { @extend .lg-ml-0; }
	.article-container .lg-ml-1c { @extend .lg-ml-1c; }

	// We don't need to go through all the columns, we can stop before the "default" size
	@for $i from 1 through 5 {
		.article-container .lg-w-#{$i}-c { @extend .lg-w-#{$i}-c; }
	}

	// For columns having the "full" class, remove the margin and expand
	.article-container > .full { @extend .lg-ml-0; }
	.article-container > .full { @extend .lg-w-12c; }
	.article-container > .full figcaption { @extend .lg-ml-2c; }

	article .meta p,
	article .meta ul,
	article .meta li { display: inline-block; }

	article .meta p,
	article .meta li { margin-right: 1.5em; }

	@if $margin != grid-margin("md") {
		article blockquote:before { left: #{-$margin / 2}; }

		article > footer { padding-bottom: $margin; }
		article .meta {
			padding-right: $margin;
			padding-left:  $margin;
		}
	}

	@if $gutter != grid-gutter("md") {
		article figure .snake { left: #{-$gutter}; }
		.article-container .mini { margin-bottom: $gutter; }
	}
}
/* @end Article */