/* @group Board */
$gutter: grid-gutter("sm");

.mosaic {
	@extend .list-unstyled;
	@extend .row;
}

	.mosaic li {
		@extend .col-sm-2;
		padding: $gutter / 2;
	}

		.mosaic a {
			display: block;
			position: relative;
			color: currentColor;
		}

			.mosaic img { @extend .responsive; }

			.mosaic .overlay { @extend %fadable; }

			.mosaic a:hover .overlay,
			.mosaic a:focus .overlay { @extend %fadable-active }

			.mosaic .title {
				@extend %font-brandon;
				@include font-weight-black;
				font-size: 1.5em;
				line-height: 1.25;
			}

			.mosaic .subtitle {
				@extend %font-brandon;
				@include font-weight-medium;
				font-size: 0.875em;
				text-transform: uppercase;
			}

			.mosaic .desc {
				margin-right: $gutter;
				@extend %font-proxima;
				@include font-weight-semi-bold;
			}

			.mosaic .more {
				@extend .text-center;
				position: absolute;
				bottom: $gutter;
				right: 0;
				left:  0;
			}

			.mosaic .overlay,
			%mosaic-overlay { background-color: rgba($color-media, .9); }

			// Prepare the offsets (will be re-used)
			$padding-top:    $gutter * 1.5;
			$padding-right:  $gutter;
			$padding-bottom: $gutter * 4;
			$padding-left:   $gutter * 2;

			.mosaic .overlay { padding: $padding-top $padding-right $padding-bottom $padding-left; }

				.mosaic .snake-3 { margin-bottom: $gutter * 2.5; }
				.mosaic .snake-3:before { border-color: $color-white; }

					/* Fix the background position by setting the .snake-3's offset (margin-left and margin-top) */
					.mosaic .snake-3 .snake-container,
					.mosaic .snake-3 .snake-wrapper { background-position: #{-$padding-left} #{-$padding-top}; }

					/* Fix the background size by calculating the snake-3's parent's width (100% + margin-left and margin-right) */
					.mosaic .snake-3 .snake-container { background-size: calc(100% + #{$padding-left + $padding-right}); }

					.mosaic .snake-3 .snake-wrapper { @extend %mosaic-overlay; }

@include media("md") {
	$gutter: grid-gutter("md");

	.mosaic li { @extend .col-md-3; }

	@if $gutter != grid-gutter("sm") {
		.mosaic li       { padding: $gutter / 2; }
		.mosaic .snake-3 { margin-bottom: $gutter * 2.5; }
		.mosaic .desc    { margin-right: $gutter; }
		.mosaic .more    { bottom: $gutter; }

		// Prepare the offsets (will be re-used)
		$padding-top:    $gutter * 1.5;
		$padding-right:  $gutter;
		$padding-bottom: $gutter * 4;
		$padding-left:   $gutter * 2;

		.mosaic .overlay { padding: $padding-top $padding-right $padding-bottom $padding-left; }

		/* Fix the background position by setting the .snake-3's offset (margin-left and margin-top) */
		.mosaic .snake-3 .snake-container,
		.mosaic .snake-3 .snake-wrapper { background-position: #{-$padding-left} #{-$padding-top}; }

		/* Fix the background size by calculating the snake-3's parent's width (100% + margin-left and margin-right) */
		.mosaic .snake-3 .snake-container { background-size: calc(100% + #{$padding-left + $padding-right}); }
	}
}

@include media("lg") {
	$gutter: grid-gutter("lg");

	.mosaic li { @extend .col-lg-3; }

	@if $gutter != grid-gutter("md") {
		.mosaic li       { padding: $gutter / 2; }
		.mosaic .snake-3 { margin-bottom: $gutter * 2.5; }
		.mosaic .desc    { margin-right: $gutter; }
		.mosaic .more    { bottom: $gutter; }

		// Prepare the offsets (will be re-used)
		$padding-top:    $gutter * 1.5;
		$padding-right:  $gutter;
		$padding-bottom: $gutter * 4;
		$padding-left:   $gutter * 2;

		.mosaic .overlay { padding: $padding-top $padding-right $padding-bottom $padding-left; }

		/* Fix the background position by setting the .snake-3's offset (margin-left and margin-top) */
		.mosaic .snake-3 .snake-container,
		.mosaic .snake-3 .snake-wrapper { background-position: #{-$padding-left} #{-$padding-top}; }

		/* Fix the background size by calculating the snake-3's parent's width (100% + margin-left and margin-right) */
		.mosaic .snake-3 .snake-container { background-size: calc(100% + #{$padding-left + $padding-right}); }
	}
}
/* @end Board */