/* @group .page-obsessions */
$margin: grid-margin("sm");

.page-obsessions { overflow: hidden; } // I am going to hell for that, thanks to the designer
.page-obsessions > .container { height: calc(100% - 64px - #{$margin * 2}); }

.page-obsessions,
.page-obsessions > .container .col,
.page-obsessions .carousel-container,
.page-obsessions .carousel,
.page-obsessions .wall,
.page-obsessions .wall img { height: 100%; }

.page-obsessions .expanded .overlay { overflow: auto; }

.page-obsessions .carousel-controls {
	line-height: #{$margin * 2};
	color: $color-brand-light;
}

.page-obsessions .carousel-controls .selected { color: $color-brand; }

.page-obsessions .carousel-controls .btn {
	position: absolute;
	bottom: -6px;
	right: #{-$margin / 2};

	color: $color-brand;
}

.page-obsessions .carousel-controls .btn[data-direction="backward"] {
	right: auto;
	left: #{-$margin / 2};
}

.page-obsessions .carousel-controls .btn svg {
	width:  3em;
	height: 3em;
}

@include media("md") {
	$margin: grid-margin("md");

	.page-obsessions .carousel-controls .btn { bottom: 1px; }

	@if $margin != grid-margin("sm") {
		.page-obsessions > .container { height: calc(100% - 85px - #{$margin * 2}); }
		.page-obsessions .carousel-controls { line-height: #{$margin * 2}; }
		.page-obsessions .carousel-controls .btn { right: #{-$margin / 2}; }
		.page-obsessions .carousel-controls .btn[data-direction="backward"] { left: #{-$margin / 2}; }
	}
}

@include media("lg") {
	$margin: grid-margin("lg");
	@if $margin != grid-margin("md") {
		.page-obsessions > .container { height: calc(100% - 85px - #{$margin * 2}); }
		.page-obsessions .carousel-controls { line-height: #{$margin * 2}; }
		.page-obsessions .carousel-controls .btn { right: #{-$margin / 2}; }
		.page-obsessions .carousel-controls .btn[data-direction="backward"] { left: #{-$margin / 2}; }
	}
}
/* @end .page-obsessions */