/* @group .wall */
$gutter: grid-gutter("sm");

.wall {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	height: 890px;
	position: relative;

	overflow: hidden;
	color: $color-white;
}

.wall .overlay-color {
	transform:  translateY(100%);
	transition: transform .5s;
}

.overlay-pattern {
	// This is almost .pattern-1 except for the path's color and the linear-gradient
	background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>"), linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0) 360px);
	background-size: 2px 4px, 100% 100%;
}

.wall .title h2 { margin-bottom: 0.25em; }

.wall .title { margin-bottom: calc(25px + 70px + #{$gutter * 2}); }

.wall.selected .title h2,
.wall.selected .title span,
.wall.selected .title .btn {
	animation: fade-h2 3s;
}
.wall.selected .title span { animation-name: fade-span; }
.wall.selected .title .btn { animation-name: fade-btn; }

.wall.selected .title .snake path {
	animation: move-snake 1.5s forwards;
}

@keyframes move-snake {
	0%   { stroke-dashoffset: 1000; }
	100% { stroke-dashoffset: 0; }
}

@keyframes fade-h2 {
	0%   { opacity: 0; }
	20%  { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-span {
	0%   { opacity: 0; }
	30%  { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fade-btn {
	0%   { opacity: 0; }
	40%  { opacity: 0; }
	100% { opacity: 1; }
}

.wall .title .btn {
	position: absolute;
	left:   -5px;
	bottom: -3em;
}

.wall .title .btn svg {
	width: 1.375em;
	height: 1.375em;
	animation: bounce ease-out .5s alternate-reverse infinite;
}

@keyframes bounce {
	to { transform: translateY(10px); }
}

.wall .intro {
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity .5s, transform .3s;
	transition-delay: .5s;
}

.wall.expanded .overlay-color { transform: none; }
.wall.expanded .snake path { stroke: $color-white; }
.wall.expanded .intro {
	opacity: 1;
	transform: none;
}
.wall.expanded .title .btn { display: none; }

@each $color in $colors-obsessions {
	$i: index($colors-obsessions, $color);
	.obsession-#{$i} .snake         { color: $color; }
	.obsession-#{$i} .overlay-color { background: rgba($color, .9) }
}

@include media("md") {
	$gutter: grid-gutter("md");
	@if $gutter != grid-gutter("sm") {
		.wall .title { margin-bottom: calc(25px + 70px + #{$gutter * 2}); }
	}
}

@include media("lg") {
	$gutter: grid-gutter("lg");
	@if $gutter != grid-gutter("md") {
		.wall .title { margin-bottom: calc(25px + 70px + #{$gutter * 2}); }
	}
}
/* @end .wall */