<header id="header" class="container text-center">
	<div class="col">
		<h1><a href="/"><img width="55" height="42" src="/img/logo-text.svg" alt="LesJours" /></a></h1>
		<button id="burger" class="pull-left btn-blank initial" type="button" aria-label="menu">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<button id="profile" class="pull-right btn-blank" type="button">
			<img class="responsive" src="/obsessions/good-com-bad-cop/img/person-1.jpg" alt="Judith Cohen-Solal" />
		</button>
	</div>

	<nav id="menu" class="container">
		<div class="col col-md-left-1 col-md-7 col-lg-left-2 col-lg-10">
			<a href="#"><i>{{ icon("angle-right") }}</i> À la une</a>
			<span>Les obsessions :</span>
			<ul class="list-unstyled">
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Les années collège</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Good Com’ bad COP</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> FN : la mauvaise herbe de Provence</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Toutes les obsessions</a></li>
			</ul>
			<ul class="list-unstyled">
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Le projet</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Le tuto des jours</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Qui sommes-nous ?</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Abonnement</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Contact</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Mentions légales</a></li>
				<li><a href="#"><i>{{ icon("angle-right") }}</i> Conditions d’utilisation</a></li>
			</ul>
			<ul class="row list-inline">
				<li class="col col-sm-auto col-md-1"><a href="#"><i>{{ icon("twitter", "Twitter") }}</i></a></li>
				<li class="col col-sm-auto col-md-1"><a href="#"><i>{{ icon("facebook", "Facebook") }}</i></a></li>
				<li class="col col-sm-auto col-md-1"><a href="#"><i>{{ icon("instagram", "Instagram") }}</i></a></li>
			</ul>
		</div>
	</nav>
</header><!-- end of #header -->