<header id="header">
	<div class="header relative">
		<div class="h-100 mh-1m relative text-center">
			<h1 class="inline-block relative">
				<a class="block" href="/">
					<img width="55" height="42" src="/img/logo-text.svg" alt="Les Jours" />
				</a>
			</h1>

			<a id="burger" class="initial" href="#menu">
				<span><span class="sr">menu</span></span>
			</a>
		</div>
		{# Use an iframe to check if the user is logged-in #}
		{# Also, don't include in #header since it has to have a full width in order to match the page's media queries #}
		<iframe src="/_account.html" class="w-100 h-100 overlay"></iframe>
	</div><!-- end of .header -->

	<nav id="menu" class="container" tabindex="-1">
		<div class="col md-ml-1c md-w-7c lg-ml-2c lg-w-10c">
			<a href="/"><i>{{ icon("angle-right") }}</i> À la une</a>
			<span class="mv-1g block style-meta-larger">Les obsessions :</span>
			<ul>
				<li><a href="/obsessions/#treize-novembre"><i>{{ icon("angle-right") }}</i> Treize Novembre</a></li>
				<li><a href="/obsessions/#les-revenants"><i>{{ icon("angle-right") }}</i> Les revenants</a></li>
				<li><a href="/obsessions/#les-annees-college"><i>{{ icon("angle-right") }}</i> Les années collège</a></li>
				<li><a href="/obsessions"><i>{{ icon("angle-right") }}</i> Toutes les obsessions</a></li>
			</ul>
			<hr class="mh-0" />
			<ul>
				<li><a href="/obsessions/les-jours-c-quoi/les-jours-l-equipe/"><i>{{ icon("angle-right") }}</i> Qui sommes-nous ?</a></li>
				<li><a href="/abonnement.html"><i>{{ icon("angle-right") }}</i> Abonnement</a></li>
				<li><a href="/mentions-legales.html"><i>{{ icon("angle-right") }}</i> Mentions légales</a></li>
				<li><a href="/abonnement-conditions-generales.html"><i>{{ icon("angle-right") }}</i> Conditions d’utilisation</a></li>
			</ul>
			<hr class="mh-0" />
			<ul class="row mb-1g list-inline">
				<li class="col sm-w-auto md-w-1c"><a href="https://twitter.com/Lesjoursfr"><i>{{ icon("twitter", "Twitter") }}</i></a></li>
				<li class="col sm-w-auto md-w-1c"><a href="https://www.facebook.com/LesJoursfr/"><i>{{ icon("facebook", "Facebook") }}</i></a></li>
				<li class="col sm-w-auto md-w-1c"><a href="https://www.instagram.com/lesjoursfr/"><i>{{ icon("instagram", "Instagram") }}</i></a></li>
			</ul>
		</div>
	</nav><!-- end of #menu -->

	{% include "partials/modals/login.html" %}
	{% include "partials/modals/login-error.html" %}
	{% include "partials/modals/forgot.html" %}
	{% include "partials/modals/forgot-error.html" %}
	{% include "partials/modals/forgot-mailed.html" %}
	{% include "partials/modals/reset.html" %}
	{% include "partials/modals/reset-error.html" %}
	{% include "partials/modals/reset-done.html" %}
</header>
<div class="header"></div>