{%- block php %}{% endblock -%}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{ page.title }}</title>

	<meta name="description" content="{{ page.description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="apple-touch-icon" sizes="57x57"   href="/img/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60"   href="/img/favicon/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72"   href="/img/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76"   href="/img/favicon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png" />
	<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png"   sizes="16x16" />
	<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png"   sizes="32x32" />
	<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png"   sizes="96x96" />
	<link rel="icon" type="image/png" href="/img/favicon/favicon-192x192.png" sizes="192x192" />
	<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5" />
	<link rel="shortcut icon" href="/img/favicon/favicon.ico" />

	<link rel="stylesheet" href="https://cloud.typography.com/6234674/791928/css/fonts.css" />
	<script src="https://use.typekit.net/cyq3qtt.js"></script>
	<script>
		try {
			/* eslint no-empty:0 */
			Typekit.handler = function(event) {
				return function() {
					if (window.$) { $(window).trigger("font-" + event); }
				};
			};

			Typekit.load({
				async: true,
				active:   Typekit.handler("active"),
				inactive: Typekit.handler("inactive")
			});
		} catch (e) {}
	</script>

	<link rel="stylesheet" href="/css/global.min.css" />
</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
	{%- from "partials/_macro.html" import icon -%}
	{% if home %}{% include "partials/_bar.html" %}{% endif %}
	{% include "partials/_header.html" %}
	{% block content %}{% endblock %}

	<script src="/js/global.min.js"></script>
	{% block js %}{% endblock %}
</body>
</html>