<header id="header" class="container">
	<div class="row">
		<h1 class="col-md-6"><a href="/"><img width="78" height="60" src="img/logo.svg" alt="LesJours" /></a></h1>
		<button id="toggle-menu" class="col-md-1 col-first" type="button"><img width="30" src="img/ui.svg#burger" alt="menu" /></button>
		<button class="col-md-1" type="button">Profile</button>
	</div>

	<div id="menu">
		<a href="#">À la une</a>
		<span>Les obsessions :</span>
		<ul>
			<li><a href="#">Les années collège</a></li>
			<li><a href="#">Good Com’ bad COP</a></li>
			<li><a href="#">FN : la mauvaise herbe de Provence</a></li>
			<li><a href="#">Toutes les obsessions</a></li>
		</ul>
		<ul>
			<li><a href="#">Le projet</a></li>
			<li><a href="#">Le tuto des jours</a></li>
			<li><a href="#">Qui sommes-nous ?</a></li>
			<li><a href="#">Abonnement</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Mentions légales</a></li>
			<li><a href="#">Conditions d’utilisation</a></li>
		</ul>
		<ul>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Instagram</a></li>
		</ul>
	</div>
</header><!-- end of #header -->