<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{ page.title }}</title>

	<meta name="description" content="{{ page.description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://cloud.typography.com/6234674/791928/css/fonts.css" />
	<script src="https://use.typekit.net/cyq3qtt.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
	<link rel="stylesheet" href="css/global.css" />
	{% block css %}{% endblock %}
</head>
<body>
	{% include "partials/header.html" %}
	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/global.js"></script>
	{% block js %}{% endblock %}
</body>
</html>