{% include "partials/_macro.html" %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{ page.title }}</title>

	<meta name="description" content="{{ page.description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://cloud.typography.com/6234674/791928/css/fonts.css" />
	<script src="https://use.typekit.net/cyq3qtt.js"></script>
	<script>
		try {
			Typekit.handler = function(event) {
				return function() {
					window.LJ = window.LJ || {};
					window.LJ.fonts = event;
					if ($) { $(window).trigger("font-" + event); }
				}
			};

			Typekit.load({
				async: true,
				active:   Typekit.handler("active"),
				inactive: Typekit.handler("inactive"),
			});
		} catch(e) {}
	</script>

	<link rel="stylesheet" href="css/global.css" />
	{% block css %}{% endblock %}
</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
	{% include "img/ui.svg" %}
	{% include "partials/header.html" %}
	{% block content %}{% endblock %}

	<script src="js/jquery.min.js"></script>
	<script src="js/global.js"></script>
	{% block js %}{% endblock %}
</body>
</html>