<li class="col gutter-top-1 gutter-bottom-1">
	<a href="{{ item.href|default("#") }}">
		<img class="responsive" src="{{ item.img }}" alt="" />
		<div class="overlay pattern-1">
			<div class="snake-3 gutter-bottom-5">
				<div class="snake-container" style="background-image: url({{ item.img }})">
					<div class="snake-wrapper pattern-1">
						<h4 class="title h5">{{ item.title }}</h4>
						<span class="subtitle h6">{{ item.subtitle }}</span>
					</div>
				</div>
			</div>
			{% if item.desc %}
			<div class="desc">
				<p>{{ item.desc }}</p>
			</div>
			{% endif %}
			<div class="more text-center gutter-bottom-2">
				<span class="btn btn-primary"><i>Lire</i></span>
			</div>
		</div>
	</a>
</li>