<section class="board obsession-{{ obsession.color }}">
	<header class="container mt-2g">
		<div class="row">
			<div class="col">
				<div class="wall expanded">
					{% include "partials/wall.html" %}
				</div>
			</div>
		</div>
	</header>

	<ul class="mb-1g md-ml-1c lg-ml-1c lg-mr-1c list-inline text-center sticky-header" role="tablist">
		<li role="presentation"><a role="tab" id="tab-episode" aria-controls="episodes" href="#episodes" aria-selected="true" tabindex="0">{{ icon("files") }} <span>Les épisodes</span></a></li>
		<li role="presentation"><a role="tab" id="tab-personnages" aria-controls="personnages" href="#personnages" aria-selected="false" tabindex="-1">{{ icon("people") }} <span>Les personnages</span></a></li>
		<li role="presentation"><a role="tab" id="tab-images" aria-controls="images" href="#images" aria-selected="false" tabindex="-1">{{ icon("camera") }} <span>Les images</span></a></li>
		<li role="presentation"><a role="tab" id="tab-data" aria-controls="data" href="#data" aria-selected="false" tabindex="-1">{{ icon("graph") }} <span>Les data</span></a></li>
		<li role="presentation"><a role="tab" id="tab-lieux" aria-controls="lieux" href="#lieux" aria-selected="false" tabindex="-1">{{ icon("marker") }} <span>Les lieux</span></a></li>
		<li role="presentation"><a role="tab" id="tab-bande-originale" aria-controls="bande-originale" href="#bande-originale" aria-selected="false" tabindex="-1">{{ icon("headphones") }} <span>La bande originale</span></a></li>
		<li role="presentation"><a role="tab" id="tab-documents" aria-controls="documents" href="#documents" aria-selected="false" tabindex="-1">{{ icon("folder") }} <span>Les documents</span></a></li>
	</ul>

	<div class="container">
		<div class="row">
			<div class="col ph-0 md-ml-1c md-w-6c lg-ml-1c lg-w-10c">
				<h2 class="pl-1g style-meta"><a href="/obsessions/{{ obsession.href }}" class="link obsession">{{ obsession.name }}</a></h2>
				<div class="tab-container">
					{% include "partials/obsession/episodes.html"   %}
					{% include "partials/obsession/people.html"     %}
					{% include "partials/obsession/images.html"     %}
					{% include "partials/obsession/data.html"       %}
					{% include "partials/obsession/places.html"     %}
					{% include "partials/obsession/soundtrack.html" %}
					{% include "partials/obsession/documents.html"  %}
				</div>
			</div>
		</div>
	</div>
</section>