<section class="board obsession-{{ obsession.color }}">
	<header class="container mt-2g">
		<div class="row">
			<div class="col">
				{%
					set cover = {
						class: "expanded",
						img: "/obsessions/" + obsession.href + "/" + obsession.href + ".jpg",
						href: "/obsessions/#" + obsession.href,
						title: obsession.title,
						subtitle: obsession.subtitle
					}
				%}
				{% include "partials/cover.html" %}
			</div>
		</div>
	</header>

	{%
		set tabs = [
			{
				"id": "episodes",
				"icon": "files",
				"label": "Les épisodes"
			},
			{
				"id": "personnages",
				"key": "people",
				"icon": "people",
				"label": "Les personnages"
			},
			{
				"id": "images",
				"icon": "camera",
				"label": "Les images"
			},
			{
				"id": "data",
				"icon": "graph",
				"label": "Les data"
			},
			{
				"id": "lieux",
				"key": "places",
				"icon": "marker",
				"label": "Les lieux"
			},
			{
				"id": "bande-originale",
				"key": "soundtrack",
				"icon": "headphones",
				"label": "La bande originale"
			},
			{
				"id": "documents",
				"icon": "folder",
				"label": "Les documents"
			}
		]
	%}

	<ul class="mb-1g md-ml-1c lg-ml-1c lg-mr-1c list-inline text-center sticky-header" role="tablist">
	{% for tab in tabs %}
		<li role="presentation"><a role="tab" id="tab-{{ tab.id }}" {{ 'class="disabled"' if not obsession[tab.key|default(tab.id)]|length }} aria-controls="{{ tab.id }}" href="#{{ tab.id }}" aria-selected="{{ "true" if loop.first else "false" }}" tabindex="{{ "0" if loop.first else "-1" }}">{{ icon(tab.icon) }} <span>{{ tab.label }}</span></a></li>
	{% endfor %}
	</ul>

	<div class="container">
		<div class="row">
			<div class="col ph-0 md-ml-1c md-w-6c lg-ml-1c lg-w-10c">
				<h2 class="pl-1g style-meta"><a href="/obsessions/#{{ obsession.href }}" class="link obsession">{{ obsession.name }}</a></h2>
				<div class="tab-container">
					{% include "partials/obsession/episodes.html"   %}
					{% include "partials/obsession/people.html"     %}
					{% include "partials/obsession/images.html"     %}
					{% include "partials/obsession/data.html"       %}
					{% include "partials/obsession/places.html"     %}
					{% include "partials/obsession/soundtrack.html" %}
					{% include "partials/obsession/documents.html"  %}
				</div>
			</div>
		</div>
	</div>
</section>
{% include "partials/obsession/media.html" %}