{#
	The container must have a **wall** class.
	You can also use the **expanded** modifier to display the overlay-color

	Placeholders:
		- obsession.img
		- obsession.alt (optional but recommended)
		- obsession.href
		- obsession.title
		- obsession.subtitle
		- obsession.desc (optional)
#}
<img class="responsive" src="/obsessions/{{ obsession.href }}/{{ obsession.img|default(obsession.href + ".jpg") }}" alt="{{ obsession.alt }}" />
<div class="overlay overlay-color"></div>
<div class="overlay overlay-pattern"></div>
<div class="overlay">
	<div class="title gutter-top-7 gutter-sm-top-4 gutter-sm-4 col-md-h-1 col-lg-h-1">
		{% include "img/snake.svg" %}
		<h2 class="h2"><a class="link-unstyled" href="/obsessions/{{ obsession.href }}">{{ obsession.title }}</a></h2>
		<span class="p-larger">{{ obsession.subtitle }}</span>
		{% if obsession.desc %}
			<a href="{{ obsession.href }}" class="btn"><i>{{ icon("chevron-down", "Lire") }}</i></a>
		{% endif %}
	</div>
	{% if obsession.desc %}
		<div class="desc gutter-sm-4 col-md-left-1 col-md-5 col-lg-left-1 col-lg-6">
			{{ obsession.desc }}
		</div>
		<div class="more gutter-bottom-2 text-center">
			<a href="/obsessions/{{ obsession.href }}" class="btn-round btn-reverse"><i>{{ icon("chevron-down", "Lire") }}</i></a>
		</div>
	{% endif %}
</div>