@mixin font-brandon() {
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
}

@mixin font-proxima() {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
}

@mixin weight-thin($font: "")        { font-weight: 100; }
@mixin weight-extra-light($font: "") { font-weight: 200; }
@mixin weight-light($font: "")       { font-weight: if($font == "archer", 400, 300); }
@mixin weight-regular($font: "")     { font-weight: if($font == "archer", 500, 400); }
@mixin weight-medium($font: "")      { font-weight: if($font == "archer", 600, 500); }
@mixin weight-semi-bold($font: "")   { font-weight: if($font == "archer", 700, 600); }
@mixin weight-bold($font: "")        { font-weight: if($font == "archer", 800, 700); }
@mixin weight-extra-bold($font: "")  { font-weight: 800; }
@mixin weight-black($font: "")       { font-weight: 900; }

.h1 {
	@include font-brandon;
	@include weight-black;
	font-size: 4.375rem;
	line-height: 1;
	margin-bottom: .5em;
}

.style-1 {
	@include font-proxima;
	@include weight-semi-bold;
	font-size: 0.8125em;
	color: $color-a;
}