/* @group Article */
article a {
	background-image: linear-gradient(to bottom, $color-action, $color-action);
	/*background-position: 0 1.0625em;*/
	background-position: 0 0.961538em;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*padding: .125em 0;*/

	transition: background-position .15s;

	@include font-weight-bold("archer");
	text-decoration: none;
	color: currentColor;
}

article a:hover,
article a:focus { background-position: 0 0; }

article header { position: relative; }
article header img { @include image-responsive; }
article header .snake {
	border: 4px solid $color-brand;

	position: absolute;
	top:    grid-margin("sm");
	right:  grid-margin("sm");
	bottom: 0;
	left:   grid-margin("sm");
}

article .lettrine {
	background: $color-brand;

	width: 1.6em;
	line-height: 1.6em;
	border-radius: 50%;
	margin: -.25em .15em 0 0;

	float: left;
	display: inline-block;

	@include font-brandon;
	@include font-weight-regular;
	font-size: 3.75rem;

	text-align: center;

	color: #FFF;
}

@include media-md {
	article .lettrine { margin-left: -.5em; }
}

article aside {
	@extend .h1;
	font-size: 1.666667em;
}

article aside span {
	font-size: 1.4em;
	@include font-weight-bold("archer");
}



article figure { margin-right: 0; margin-left: 0; }
article figure img,
article figure video { width: 100%; }

article blockquote p {
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}

article blockquote p { margin-bottom: 0; }
article blockquote .author {
	font-family: "proxima-nova", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	color: #717171;
}

article blockquote p:first-of-type:before {
	background: $color-brand;
	width: 1.6em;
	line-height: 1.6em;
	border-radius: 50%;

	content: "«";
	display: inline-block;
	position: absolute;
	top: -.25em;
	left: -1em;
	z-index: -1;

	text-align: center;

	color: #FFF;
}

article blockquote p:last-of-type:after { content: " »"; }

article figure.pull-left {
	margin-right: .5em;
}




article footer {
	background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path fill='rgba(0, 0, 0, .2)' d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>");
	background-size: 2px 4px;
}

article footer div { background: #FFF; }

article footer div:last-child {
	margin-top: 24px;
}

@include media-md {
	article header .snake {
		width: 62.5%;
		margin-top: 12.5%;
		top:   0;
		right: 0;
		left:  -4px; // Offset the border
	}
}

@each $color in $colors-obsessions {
	$i: index($colors-obsessions, $color);
	article.obsession-#{$i} a.obsession { background-image: linear-gradient(to bottom, $color, $color); }
	article.obsession-#{$i} .snake      { border-color: $color; }
	article.obsession-#{$i} .lettrine   { background:   $color; }
	article.obsession-#{$i} aside span  { color:        $color; }
	article.obsession-#{$i} blockquote p:first-of-type:before { background: $color; }
}
article .tags a { background-image: linear-gradient(to bottom, $color-action-contextual, $color-action-contextual); }
/* @end Article */

article header p:first-child a,
article header ul a {
	text-transform: uppercase;
	color: #414141;
}

article header time {
	display: inline-block;
}

article header ul li:after            { content: " • "; }
article header ul li:last-child:after { content: "";    }

