@import "variables";
@import "mixins/mixins";
@import "framework/framework";

$margin: grid-margin("sm");
$gutter: grid-gutter("sm");

html {
	background: $color-white;
	height: 100%;

	@extend %font-archer;
	@include font-weight-medium("archer");
	font-size:   $base-font-size;
	line-height: 1.5;

	color: $color-main;
}

body {
	height: 100%;
	max-width: $max-width;
	margin: 0 auto;
	font-size: .875em;

	// On some pages or when using a modal, we have to fix the body
	&.fixed {
		overflow: hidden;

		// Fix some problems problems with iOS
		// See http://stackoverflow.com/questions/14270084/overflow-xhidden-doesnt-prevent-content-from-overflowing-in-mobile-browsers#answer-24727026
		position: fixed;

		// Fix an issue if the body has a max-width
		right: 0;
		left:  0;
	}
}

@include media("md") {
	body { font-size: inherit; }
}

/* Remove some default margins */
blockquote, figure, p, ul, ol, dl, dd,
h1, h2, h3, h4, h5, h6 { margin: 0; }

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio, canvas, iframe, img, picture, svg, video { vertical-align: middle; }

/* Default styles for <a> (unstyled) */
a {
	text-decoration: none;
	color: inherit;
}

/* Default states for interactive elements */
a, button {
	&:hover,
	&:focus { color: $color-brand; }
}

/* Add a nice cursor for abbreviations */
abbr {
	cursor: help;
	text-decoration: none;
}

/* Disable the default italic for address */
address { font-style: inherit; }

/* Default styles for <aside> */
aside {
	p {
		margin: 0;
		@extend .h2;
		@include font-weight-bold("brandon");
		font-size: 2em;
	}

	span {
		font-size: 1.333333em;
		color: $color-brand;
	}
}

// Archer's bold is actually bolder than the default "bold" (its font-weights seems wrong)
b, strong { @include font-weight-bold("archer"); }

/* Default styles for <blockquote> */
blockquote {
	position: relative;

	&::before {
		@extend %quote;
		background-position: 50% 50%;
		background-size: .7em .7em;
		background-color: $color-brand;

		width:  2.5em;
		height: 2.5em;
		border-radius: 50%;

		content: "";

		position: absolute;
		top:  -.75em;
		left: 4px;
		z-index: -1;

		font-size: 1.85em;
	}

	p {
		padding-left: 1.75em;
		margin-bottom: .125em;

		@extend %font-brandon;
		@include font-weight-light("brandon");
		font-size: 1.85em;
		line-height: 1.15;

		&:last-of-type {
			&::after { content: " »"; }
		}
	}

	footer {
		padding-left: 4em;
		@extend .style-meta;
	}
}

/* Remove default fieldset styles */
fieldset {
	padding: 0;
	border:  0;
	margin:  0;
}

/* Default styles for <figcaption> */
figcaption {
	//@extend .snake-2; // TODO
	@extend .style-meta;
	margin-top: .75em;
	margin-left: $gutter * 2.25;

	line-height: inherit;
	color:       inherit;

	&::before {
		height: auto;
		top: -30px;
	}

	//> span { @extend .snake-container; }

	.credits {
		@include font-weight-regular("proxima");
		&::before { content: "— "; }

		a {
			background-position: 0 1.125em;
			font-weight: inherit;
		}
	}
}

/* Set figure's content as responsive */
figure {
	audio, canvas, iframe, img, picture, svg, table, video { @include responsive; }
}

/* Default styles for <hr/> */
hr {
	@extend .pattern-alpha;

	height: $gutter;
	border: 0;
	margin: $gutter $margin;
}

/* The <h1> is reserved for the page's title */
h1 { font-size: 1em; }

// TODO: h2, h3, h4, h5, h6

// Just to be sure
i, em { font-style: italic; }

ins { text-decoration: none; }

label { cursor: pointer; }

/* Default styles for <ol> and <ul> */
ol, ul {
	padding: 0;
	list-style: none;
}

/* Set a default margin for <p> */
p { margin-bottom: $gutter; }

/* Set the correct quotes */
q {
	quotes: "« " " »" "“" "”";
	font-style: italic;

	.lettrine { @extend .lettrine.with-quote; }

	// Allow to hide a quote (if the lettrine already have one)
	&.no-quote-before::before,
	&.no-quote-after::after { @extend .sr; }

	blockquote & { quotes: "“" "”"; }
}

/* Allow only vertical resizing of textareas */
textarea { resize: vertical; }

/* Remove text-shadow in selection highlight */
::selection {
	background: $color-external;
	text-shadow: none;
}

/* ARIA FTW */
[aria-hidden=true] { display: none; }

/* Default style for UI elements */
[class^=ui-] {
	width:  1.5em;
	height: 1.5em;
	display: inline-block;
}

[class^=ui-].initial {
	width:  initial;
	height: initial;
}

/* Add an asterisk for links pointing to a note */
[href^="#note"]::after { content: "*"; }

@each $colors in $colors-obsessions {
	$i:     index($colors-obsessions, $colors);
	$color: map-get($colors, "main");

	.obsession-#{$i} {
		aside span { color: $color; }
		blockquote::before { background-color: rgba($color, .75); }
		figcaption::before { border-color: $color; }
	}
}

// FIXME
@include media("sm", $strict: true) {
	body.sm-fixed {
		overflow: hidden;
		position: fixed;
		right: 0;
		left:  0;
	}
}

// FIXME
@include media("md", $strict: true) {
	body.md-fixed {
		overflow: hidden;
		position: fixed;
		right: 0;
		left:  0;
	}
}

// FIXME
@include media("lg", $strict: true) {
	body.lg-fixed {
		overflow: hidden;
		position: fixed;
		right: 0;
		left:  0;
	}
}

@include media("md") {
	$margin: grid-margin("md");
	$gutter: grid-gutter("md");

	blockquote {
		p      { padding-left: 1.25em; }
		footer { padding-left: 3em; }
	}

	figcaption { margin-left: 0; }

	@if $margin != grid-margin("sm") {
		blockquote::before { left: $margin / -2; }
		hr {
			margin-right: $margin;
			margin-left:  $margin;
		}
	}

	@if $gutter != grid-gutter("sm") {
		hr {
			height:        $gutter;
			margin-top:    $gutter;
			margin-bottom: $gutter;
		}

		p { margin-bottom: $gutter; }
	}
}

@include media("lg") {
	$margin: grid-margin("lg");
	$gutter: grid-gutter("lg");

	@if $margin != grid-margin("md") {
		blockquote::before { left: $margin / -2; }
		hr {
			margin-right: $margin;
			margin-left:  $margin;
		}
	}

	@if $gutter != grid-gutter("md") {
		hr {
			height:        $gutter;
			margin-top:    $gutter;
			margin-bottom: $gutter;
		}

		p { margin-bottom: $gutter; }
	}
}

@import "components/components";
@import "partials/partials";

@import "pages/home";
@import "pages/obsessions";
@import "pages/board";
@import "pages/article";
@import "pages/subscription";