@import "variables";
@import "mixins/mixins";
@import "framework/framework";

// Some defaults are inspired by HTML5 Boilerplate — https://html5boilerplate.com

html {
	background: $color-white;

	@extend %font-archer;
	@include font-weight-medium("archer");
	font-size:   $base-font-size;
	line-height: 1.5;

	color: $color-main;
}

body {
	margin: 0 auto;
	font-size: 0.875em;
}

@include media("md") {
	body { font-size: inherit; }
}

@media (min-width: $max-width) {
	body { max-width: $max-width; }
}

/* Remove some default margins */
blockquote, figure, p, ul, ol, dl, dd,
h1, h2, h3, h4, h5, h6 { margin: 0; }

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Add a nice cursor for abbreviations */
abbr {
	cursor: help;
	text-decoration: none;
}

/* Disable the default italic for address */
address { font-style: inherit; }

/* Remove default fieldset styles */
fieldset {
	padding: 0;
	border:  0;
	margin:  0;
}

/* Set figure's content as responsive */
figure audio,
figure canvas,
figure iframe,
figure img,
figure picture,
figure svg,
figure table,
figure video { @include responsive; }

/* The <h1> is reserved for the page's title */
h1 { font-size: 1em; }

/* Set a default margin for <p> */
p { margin-bottom: 1.5em; }

/* Allow only vertical resizing of textareas */
textarea { resize: vertical; }

/* Remove default padding for lists */
ul, ol { padding: 0; }

/* Remove text-shadow in selection highlight */
::selection {
	background: $color-external;
	text-shadow: none;
}

/* Default style for UI elements */
[class^=ui-] {
	width:  1.5em;
	height: 1.5em;
	display: inline-block;
}

@import "components/components";
@import "partials/partials";

@import "pages/wall";
@import "pages/article";
@import "pages/board";