/* Some defaults are inspired by HTML5 Boilerplate — https://html5boilerplate.com */

body { margin: 0; }
ul, h1, h2, h3, h4, h5, h6 { margin: 0; }

/* Remove text-shadow in selection highlight */
::selection {
	background: #B3D4FC; /* TODO */
	text-shadow: none;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles */
fieldset {
	padding: 0;
	border:  0;
	margin:  0;
}

/* Allow only vertical resizing of textareas */
textarea { resize: vertical; }

/* @group .carousel */
    .carousel-container { overflow: auto; }
.js .carousel-container { overflow: hidden; }

	/* This carousel might be tricky to understand (good luck) */
	.carousel {
		padding: 0;
		margin:  0;

		display: flex;

		transform: none;
		transition: transform 0.5s;

		list-style: none;
	}

	.js .carousel {
		position: relative;
		left: -100%;
	}

	.carousel.hold {
		transform:  translateX(100%);
		transition: transform 0s;
	}

	.carousel.hold.reverse { transform: translateX(-100%); }

		.carousel li {
			flex: 1 0 100%;
			order: 2;
		}

		/* The last item have to be set as first */
		.js .carousel li:last-child { order: 1; }
/* @end of .carousel */

/* @group .snake */
.snake {
	width: 220px;
	height: calc(100% + 25px + 50px);
	position: absolute;
	top:  -24px;
	left: -24px;
}

	.snake path {
		animation: snake 1.5s forwards;

		fill: none;
		stroke: currentColor;
		stroke-width: 4px;
		stroke-dasharray:  400% 400%;
		stroke-dashoffset: 400%;
		shape-rendering: optimizeSpeed;      /* Prevent stroke's anti-aliasing */
		vector-effect:   non-scaling-stroke; /* Do not scale the stroke's width (only the path have to be scaled) */
	}

	.obsession-1 .snake path { stroke: #A889AD; }
	.obsession-2 .snake path { stroke: #7F8E68; }
	.obsession-3 .snake path { stroke: #679EA7; }

	@keyframes snake {
		to { stroke-dashoffset: 0; }
	}
/* @end .snake */


#header { height: 86px; background: red; }

#content { background: pink; }
#content .container { background: #FFF; }

#content .carousel-container {
	width: 720px;
	margin: 0 auto; }

.carousel li { position: relative; }

.carousel li > div {
	background-image: url(img/pattern.svg), linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0) 360px);
	background-size: 2px 4px, 100% 100%;
	position: absolute;
	top:    0;
	right:  0;
	bottom: 0;
	left:   0;
}

.carousel .title {
	position: absolute;
	top:  64px;
	left: 74px;
	color: #FFF;
	font-size: 2em;
}