@import "variables";
@import "mixins/mixins";

@import "framework/reset";
@import "framework/functions";
@import "framework/grid";
@import "framework/typography";
@import "framework/utility";

// Some defaults are inspired by HTML5 Boilerplate — https://html5boilerplate.com

html {
	background: #FFF;

	@include font-archer;
	@include font-weight-medium("archer");
	font-size:   $base-font-size;
	line-height: 1.5;

	color: $color-main;
}

body { font-size: 0.875em; }

@include media-md {
	body { font-size: inherit; }
}

/* Remove some default margins */
body,
blockquote, figure, p, ul, ol,
h1, h2, h3, h4, h5, h6 { margin: 0; }

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Disable the default italic for address */
address { font-style: inherit; }

/* Remove default fieldset styles */
fieldset {
	padding: 0;
	border:  0;
	margin:  0;
}

/* By default, center figures */
figure { margin: 1.5em auto; }

/* Set figure's content as responsive */
figure audio,
figure canvas,
figure iframe,
figure img,
figure picture,
figure svg,
figure table,
figure video { @include image-responsive; }

/* The <h1> is reserved for the page's title */
h1 { font-size: 1em; }

/* Set a default margin for <p> */
p { margin-bottom: 1.5em; }

/* Allow only vertical resizing of textareas */
textarea { resize: vertical; }

ul, ol { padding: 0; }

/* Remove text-shadow in selection highlight */
::selection {
	background: #B3D4FC; /* TODO */
	text-shadow: none;
}

/* Default style for UI elements */
[class^=ui-] {
	width:  2em;
	height: 2em;
	display: inline-block;
}

@import "components/buttons";
@import "components/carousel";
@import "components/snake";

@import "header";
@import "wall";
@import "article";