/* @group #header */
/*csslint ids:false */
#header {
	background: $color-white;
	position: relative;
	text-align: center;
	color: $color-brand;
}

#header h1,
#header h1 a { display: inline-block; }
#header h1 a { padding: 0.785714em; }

#header .pull-left,
#header .pull-right { margin-top: .75em; }

#header .pull-left { padding: 0.5625em; }

@include media("md") {
	#header h1 img {
		width: auto;
		height: 60px;
	}

	#header .pull-left,
	#header .pull-right { margin-top: 1em; }
}

#menu {
	background: $color-white;

	z-index: 1000;
	position: absolute;
	top:   100%;
	right: 0;
	left:  0;

	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0s 0.3s;

	text-align: left;

	@include font-proxima;
	@include font-weight-bold;

	color: $color-main;
}

#menu.opened {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s, visibility 0s;
}

	#menu a {
		margin: 0.75em 0;

		display: inline-block;

		text-decoration: none;
		text-transform: uppercase;

		color: currentColor;
	}

		#menu a i {
			margin-right: .75em;

			display: inline-block;
			position: relative;

			line-height: 1;
			color: $color-white;
		}

		#menu a i:before {
			background: $color-brand;
			border-radius: 50%;

			content: "";
			z-index: -1;
			position: absolute;
			top:    0;
			right:  0;
			bottom: 0;
			left:   0;

			transition: transform .3s;
		}

		#menu a i svg {
			width:  1.5em;
			height: 1.5em;
		}

		#menu a:hover i:before,
		#menu a:focus i:before { transform: scale(0.833333); }

	#menu span {
		margin: 0.5em 0;

		display: block;

		line-height: 1;
		font-size: 1.375em;
		@include font-weight-light;
	}

	#menu ul {
		background: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 24'><path fill='rgba(0, 0, 0, .2)' d='M1 0h1v1H1zM0 2h1v1H0zM1 4h1v1H1zM0 6h1v1H0zM1 8h1v1H1zM0 10h1v1H0zM1 12h1v1H1zM0 14h1v1H0zM1 16h1v1H1zM0 18h1v1H0zM1 20h1v1H1zM0 22h1v1H0z'/></svg>") repeat-x 0 100%;
		background-size: 2px 24px;
		padding-bottom: 3em;
		margin-bottom:  1.5em;
	}

	#menu .list-inline {
		background: none;
		padding: 0;
		margin-bottom: 0.5em;
	}

		#menu .list-inline a i {
			padding: 1em;
			margin: 0;
		}

		#menu .list-inline a i svg {
			width:  1em;
			height: 1em;
		}
/* @end #header */