// Main colors
$color-brand: #C83E2C;
$color-main:  #414141;
$color-black: #000;
$color-white: #FFF;

// Fonts color
$color-darker: #333;
$color-dark:   #717171;
$color-light:  #D7D7D7;

// Links colors
$color-media:    #F3DF93;
$color-external: #E49287;

// Obsessions colors
$colors-obsessions: (#A889AD, #7F8E68, #679EA7);

$colors: (
	brand: $color-brand,
	main:  $color-main,
	black: $color-black,
	white: $color-white,

	darker: $color-darker,
	dark:   $color-dark,
	light:  $color-light,

	media:    $color-media,
	external: $color-external
);

@each $name, $color in $colors {
	.color-#{$name} { color: $color; }
	.bg-#{$name}    { background-color: $color; }
}

// The base font-size, used for some calculations
$base-font-size: 16px;

// Makes sure to go from the smallest device to the largest
$grids: (
	sm: (
		columns: 4,
		margin:  1rem,
		gutter:  1rem
	),
	md: (
		breakpoint: 480px,
		columns:    8,
		margin:     1.5rem,
		gutter:     1.5rem
	),
	lg: (
		breakpoint: 840px,
		columns:    12,
		margin:     1.5rem,
		gutter:     1.5rem
	)
);