// Main colors
$color-brand:       #C83E2C;
$color-brand-light: lighten($color-brand, 37%);

$color-main:  #414141;
$color-black: #000;
$color-white: #FFF;

// Fonts color
$color-darkest: #290D09;
$color-darker:  #333;
$color-dark:    #717171;
$color-light:   #D7D7D7;

// Links colors
$color-media:    #F3DF93;
$color-external: #E49287;

// Obsessions colors
$colors-obsessions: (
	(main: #EB8A31, light: #F5C498),
	(main: #679EA7, light: #B3CED3),
	(main: #DBD2A2, light: #EDE8D0),
	(main: #719A82, light: #B8CCC0),
	(main: #D71F85, light: #EB8FC2),
	(main: #A889AD, light: #D3C4D6)
);

$colors: (
	brand:       $color-brand,
	brand-light: $color-brand-light,

	main:  $color-main,
	black: $color-black,
	white: $color-white,

	darkest: $color-darkest,
	darker:  $color-darker,
	dark:    $color-dark,
	light:   $color-light,

	media:    $color-media,
	external: $color-external
);

@each $name, $color in $colors {
	.color-#{$name} { color: $color; }
	.bg-#{$name}    { background-color: $color; }
}

// The base font-size, used for some calculations
$base-font-size: 16px;

// Makes sure to go from the smallest device to the largest
$grids: (
	sm: (
		columns: 4,
		margin:  1rem,
		gutter:  1rem
	),
	md: (
		breakpoint: 480px,
		columns:    8,
		margin:     1.5rem,
		gutter:     1.5rem
	),
	lg: (
		breakpoint: 840px,
		columns:    12,
		margin:     1.5rem,
		gutter:     1.5rem
	)
);

// Stop extending at this width
$max-width: 1440px;