/* Some defaults are inspired by HTML5 Boilerplate — https://html5boilerplate.com */

html {
	font-family: "Archer", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:   16px;
	line-height: 1.5;
}

/* Remove some default margins */
body, p, ul,
h1, h2, h3, h4, h5, h6 { margin: 0; }

/* Now, set some default margins */
p { margin-bottom: 1.5em; }

/* Remove text-shadow in selection highlight */
::selection {
	background: #B3D4FC; /* TODO */
	text-shadow: none;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles */
fieldset {
	padding: 0;
	border:  0;
	margin:  0;
}

/* Allow only vertical resizing of textareas */
textarea { resize: vertical; }

#header {
	background: #FFF;
	/*padding: 0 40px;*/
	text-align: center;
}

#header h1 {
	margin: 13px 0;
/* List utility classes */
.list-unstyled    { list-style: none; }
.list-inline > li { display: inline-block; }

/* Quick float */
.pull-left  { float: left;  }
.pull-right { float: right; }

/* Default style for UI elements */
[class^=ui-] {
	width:  2em;
	height: 2em;
	display: inline-block;
}

#header > button {
	margin-top: 20px;
	float: left;
}

#profile {
	margin-top: 20px;
	float: right; }

#toggle-menu {
	background: none;
	border: none;
	color: red;
}

/* FIXME: BOUH! */
#toggle-menu:focus { outline: 0; }

#menu {
background: #FFF;
position: absolute;
left: 0;
right: 0;
z-index: 1000;
visibility: hidden;
opacity: 0;
transition: opacity 0.3s, visibility 0s 0.3s;
font-family: ProximaNova;
}

#menu.opened {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s, visibility 0s;
}

.carousel-container { margin-bottom: 100px;}


.btn,
.btn-rounded {
	background: none;
	padding: 0;
	border:  0;
}

.btn-rounded {
	width:  3em;
	height: 3em;
	border-radius: 50%;
}

.btn-primary {
	background: #FFF;
	color: #C83E2C;
}


