/* @group .snake */
.snake {
	width:  220px;
	height: 160%;

	overflow: visible; /* Allow to overflow, the path's stroke may overflow */
	position: absolute;
	top:  -25px;
	left: -20px;
}

	.snake path {
		transition: stroke .5s, stroke-dashoffset 1.5s;

		fill: none;
		stroke: currentColor;
		stroke-dasharray: 1000 1000;
		shape-rendering: optimizeSpeed;      /* Prevent stroke's anti-aliasing */
		vector-effect:   non-scaling-stroke; /* Do not scale the stroke's width (only the path have to be scaled) */
	}
/* @end .snake */