{% set page = { title: "LesJours — Board" } %}
{% extends "partials/layout.html" %}

{% block content %}

<ul>
	<li><a href="#episodes"><i><img src="img/btn-doc.png" alt="" /></i> Les épisodes</a></li>
	<li><a href="#personnages"><i><img src="img/btn-people.png" alt="" /></i> Les personnages</a></li>
	<li><a href="#images"><i><img src="img/btn-image.png" alt="" /></i> Les images</a></li>
	<li><a href="#data"><i><img src="img/btn-data.png" alt="" /></i> Les data</a></li>
	<li><a href="#lieux"><i><img src="img/btn-geo.png" alt="" /></i> Les lieux</a></li>
	<li><a href="#bande-originale"><i><img src="img/btn-ipod.png" alt="" /></i> La bande originale</a></li>
	<li><a href="#documents"><i><img src="img/btn-folder.png" alt="" /></i> Les documents</a></li>
</ul>

<div class="container">
	<div class="row">
		<div class="col col-md-left-1 col-md-6 col-lg-left-1 col-lg-10">
			<h2>Les années collège</h2>
			<div class="tab-container">
				<section id="episodes" class="tab">
					<h3>Les épisodes</h3>
				</section><!-- end of #episodes -->

				<section id="personnages" class="tab">
					<h3>Les personnages</h3>
					<ul class="mosaic">
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<div class="with-snake snake-3">
										<div class="snake-content"  style="background-image: url(img/board/big-1.jpg)">
											<div class="snake-wrapper">
												<h4>Judith Cohen Solal</h4>
												<span>Psychanalyste</span>
											</div>
										</div>
									</div>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-1.jpg" alt="" />
								<div>
									<div class="with-snake snake-3">
										<div class="snake-content"  style="background-image: url(img/board/big-3.jpg)">
											<div class="snake-wrapper">
												<h4>Judith Cohen Solal</h4>
												<span>Psychanalyste</span>
											</div>
										</div>
									</div>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-1.jpg" alt="" />
								<div>
									<h4>Judith Cohen Solal</h4>
									<span>Psychanalyste</span>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-2.jpg" alt="" />
								<div>
									<h4>Judith Cohen Solal</h4>
									<span>Psychanalyste</span>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-1.jpg" alt="" />
								<div>
									<h4>Judith Cohen Solal</h4>
									<span>Psychanalyste</span>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-2.jpg" alt="" />
								<div>
									<h4>Judith Cohen Solal</h4>
									<span>Psychanalyste</span>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/big-2.jpg" alt="" />
								<div>
									<h4>Judith Cohen Solal</h4>
									<span>Psychanalyste</span>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-1.jpg" alt="" />
								<div>
									<h4>Judith Cohen Solal</h4>
									<span>Psychanalyste</span>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-2.jpg" alt="" />
								<div>
									<h4>Judith Cohen Solal</h4>
									<span>Psychanalyste</span>
									<span class="btn">Lire</span>
								</div>
							</a>
						</li>
					</ul>
				</section><!-- end of #personnages -->

				<section id="images" class="tab">
					<h3>Les images</h3>
					<ul class="mosaic">
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<div class="snake"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-1.jpg" alt="" />
								<div>
									<div class="snake"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-2.jpg" alt="" />
								<div>
									<div class="snake"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-1.jpg" alt="" />
								<div>
									<div class="snake"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-2.jpg" alt="" />
								<div>
									<div class="snake"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/big-2.jpg" alt="" />
								<div>
									<div class="snake"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-1.jpg" alt="" />
								<div>
									<div class="snake"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/small-2.jpg" alt="" />
								<div>
									<div class="snake"></div>
								</div>
							</a>
						</li>
					</ul>
				</section><!-- end of #images -->

				<section id="data" class="tab">
					<h3>Les data</h3>
					<ul class="mosaic">
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<h4>Datavisualisation</h4>
									<span>Sous-titre</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<span class="btn">Voir</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<h4>Datavisualisation</h4>
									<span>Sous-titre</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<span class="btn">Voir</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<h4>Datavisualisation</h4>
									<span>Sous-titre</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<span class="btn">Voir</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<h4>Datavisualisation</h4>
									<span>Sous-titre</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<span class="btn">Voir</span>
								</div>
							</a>
						</li>
					</ul>
				</section><!-- end of #data -->

				<section id="lieux" class="tab">
					<h3>Les lieux</h3>
					<ul class="mosaic">
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<h4>Nom premier lieu</h4>
									<span>Sous-titre</span>
									<span class="btn">Voir</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<h4>Nom premier lieu</h4>
									<span>Sous-titre</span>
									<span class="btn">Voir</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<h4>Nom premier lieu</h4>
									<span>Sous-titre</span>
									<span class="btn">Voir</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/board/big-1.jpg" alt="" />
								<div>
									<h4>Nom premier lieu</h4>
									<span>Sous-titre</span>
									<span class="btn">Voir</span>
								</div>
							</a>
						</li>
					</ul>
				</section><!-- end of #lieux -->

				<section id="bande-originale" class="tab">
					<h3>La bande originale</h3>

					<h4>Interviews</h4>
					<ul>
						<li>
							<h5>Titre interview 1</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>25 sept. 2015 • nom du journaliste</span>
						</li>
						<li>
							<h5>Titre interview 2</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>25 sept. 2015 • nom du journaliste</span>
						</li>
					</ul>

					<h4>Playlists</h4>
					<ul>
						<li>
							<h5>Playlist 1</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>25 sept. 2015</span>
						</li>
						<li>
							<h5>Playlist numéro 2</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>nom de l'auteur</span>
						</li>
					</ul>

					<h4>Ambiances</h4>
					<ul>
						<li>
							<h5>Ambiance numéro 1</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>25 sept. 2015 • nom du journaliste</span>
						</li>
						<li>
							<h5>Ambiance numéro 2</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>25 sept. 2015 • nom du journaliste</span>
						</li>
					</ul>
				</section><!-- end of #bande-originale -->

				<section id="documents" class="tab">
					<h3>Les documents</h3>

					<h4>Bibliographie</h4>
					<ul>
						<li class="col col-lg-5">
							<h5>Titre livre numéro 1</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>Nom de l'auteur • éditeur</span>
						</li>
						<li class="col col-lg-5">
							<h5>Titre livre numéro 2</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>Nom de l'auteur • éditeur</span>
						</li>
						<li class="col col-lg-5">
							<h5>Titre livre numéro 3</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>Nom de l'auteur • éditeur</span>
						</li>
						<li class="col col-lg-5">
							<h5>Titre livre numéro 4</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>Nom de l'auteur • éditeur</span>
						</li>
					</ul>

					<h4>Téléchargements</h4>
					<ul>
						<li class="col col-lg-5">
							<h5>Document numéro 1 pdf</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
						</li>
					</ul>

					<h4>Scans</h4>
					<ul>
						<li class="col col-lg-5">
							<h5>Document scanné numéro 1</h5>
							<p>Description, la classe a reçu l’association Co-exist. Durant deux heures, ils ont planchés sur leurs préjugés racistes.</p>
							<span>Info 1 • Info 2</span>
						</li>
					</ul>
				</section><!-- end of #documents -->
			</div>
		</div>
	</div>
</div>
{% endblock %}