{% set page = { title: "Grid" } %}
{% set body = { class: "grid" } %}
{% extends "partials/layout.html" %}

{% block content %}
	<style scoped>
		.grid          { background-color: #E5007D; }
		.grid .col     { background-color: #0096C7; }
		.grid .col div { background-color: #FFF; }
		.grid .container,
		.grid .row  { margin-bottom: 10px; }
		.grid .row  { text-align: center; }
	</style>
	<div class="grid container">
		<div class="row">
			<div class="col col-sm-1"><div>.col-sm-1</div></div>
			<div class="col col-sm-1"><div>.col-sm-1</div></div>
			<div class="col col-sm-1"><div>.col-sm-1</div></div>
			<div class="col col-sm-1"><div>.col-sm-1</div></div>
		</div>
		<div class="row">
			<div class="col col-sm-left-1 col-sm-1"><div>.col-sm-1</div></div>
			<div class="col col-sm-1"><div>.col-sm-1</div></div>
			<div class="col col-sm-1"><div>.col-sm-1</div></div>
		</div>
		<div class="row">
			<div class="col col-sm-2"><div>.col-sm-2</div></div>
			<div class="col col-sm-2"><div>.col-sm-2</div></div>
		</div>
		<div class="row">
			<div class="col col-sm-3"><div>.col-sm-3</div></div>
			<div class="col col-sm-1"><div>.col-sm-1</div></div>
		</div>
		<div class="row">
			<div class="col col-sm-4"><div>.col-sm-4</div></div>
		</div>
	</div>
	<div class="grid container">
		<div class="row">
			<div class="col col-md-1"><div>.col-md-1</div></div>
			<div class="col col-md-1"><div>.col-md-1</div></div>
			<div class="col col-md-1"><div>.col-md-1</div></div>
			<div class="col col-md-1"><div>.col-md-1</div></div>
			<div class="col col-md-1"><div>.col-md-1</div></div>
			<div class="col col-md-1"><div>.col-md-1</div></div>
			<div class="col col-md-1"><div>.col-md-1</div></div>
			<div class="col col-md-1"><div>.col-md-1</div></div>
		</div>
		<div class="row">
			<div class="col col-md-2"><div>.col-md-2</div></div>
			<div class="col col-md-2"><div>.col-md-2</div></div>
			<div class="col col-md-2"><div>.col-md-2</div></div>
			<div class="col col-md-2"><div>.col-md-2</div></div>
		</div>
		<div class="row">
			<div class="col col-md-3"><div>.col-md-3</div></div>
			<div class="col col-md-3"><div>.col-md-3</div></div>
			<div class="col col-md-2"><div>.col-md-2</div></div>
		</div>
		<div class="row">
			<div class="col col-md-4"><div>.col-md-4</div></div>
			<div class="col col-md-4"><div>.col-md-4</div></div>
		</div>
		<div class="row">
			<div class="col col-md-5"><div>.col-md-5</div></div>
			<div class="col col-md-3"><div>.col-md-3</div></div>
		</div>
		<div class="row">
			<div class="col col-md-6"><div>.col-md-6</div></div>
			<div class="col col-md-2"><div>.col-md-2</div></div>
		</div>
		<div class="row">
			<div class="col col-md-7"><div>.col-md-7</div></div>
			<div class="col col-md-1"><div>.col-md-1</div></div>
		</div>
		<div class="row">
			<div class="col col-md-8"><div>.col-md-4</div></div>
		</div>
	</div>
	<div class="grid container">
		<div class="row">
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-2"><div>.col-lg-2</div></div>
			<div class="col col-lg-2"><div>.col-lg-2</div></div>
			<div class="col col-lg-2"><div>.col-lg-2</div></div>
			<div class="col col-lg-2"><div>.col-lg-2</div></div>
			<div class="col col-lg-2"><div>.col-lg-2</div></div>
			<div class="col col-lg-2"><div>.col-lg-2</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-3"><div>.col-lg-3</div></div>
			<div class="col col-lg-3"><div>.col-lg-3</div></div>
			<div class="col col-lg-3"><div>.col-lg-3</div></div>
			<div class="col col-lg-3"><div>.col-lg-3</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-4"><div>.col-lg-4</div></div>
			<div class="col col-lg-4"><div>.col-lg-4</div></div>
			<div class="col col-lg-4"><div>.col-lg-4</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-5"><div>.col-lg-5</div></div>
			<div class="col col-lg-5"><div>.col-lg-5</div></div>
			<div class="col col-lg-2"><div>.col-lg-2</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-6"><div>.col-lg-6</div></div>
			<div class="col col-lg-6"><div>.col-lg-6</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-7"><div>.col-lg-7</div></div>
			<div class="col col-lg-5"><div>.col-lg-5</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-8"><div>.col-lg-8</div></div>
			<div class="col col-lg-4"><div>.col-lg-4</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-9"><div>.col-lg-9</div></div>
			<div class="col col-lg-3"><div>.col-lg-3</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-10"><div>.col-lg-10</div></div>
			<div class="col col-lg-2"><div>.col-lg-2</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-11"><div>.col-lg-11</div></div>
			<div class="col col-lg-1"><div>.col-lg-1</div></div>
		</div>
		<div class="row">
			<div class="col col-lg-12"><div>.col-lg-12</div></div>
		</div>
	</div>
{% endblock %}