{% set page = { title: "LesJours" } %}
{% extends "partials/layout.html" %}

{% block content %}
<style>
	html { height: 100%; }
	body { height: inherit; overflow: hidden; }
	body > div.container { height: calc(100% - 85px); }
	body > div.container > .col { height: 100%; }

	.carousel-container,
	.carousel,
	.carousel li,
	.carousel img { height: inherit; }

	.carousel-controls {
		background: #FFF;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
</style>
<div class="container">
	<div class="col">
		<div class="carousel-container">
			<ul class="carousel">
				<li class="wall obsession-1">
					{%
						set wall = {
							img: "img/wall/1.jpg",
							href: "episode.html",
							title: "La mauvaise herbe<br/>de Provence",
							subtitle: "Magna aliqua Ut enim",
							desc: "<p>Itas simin ent. Udicius et ut aut quasperum, aditae serum isqui doles molorit quiandam sumquoditias etur reperi beatur aut aliti torero blant as que odi odit quos autem evelianiate nonem sam aut omnihillit etum lam explitatur ?</p>
							<p>Faceptiorro magnihiciist as alitas velestrunt, sed magnihit doluptatem inullam, sitem. Et et, quas utemquam si incipsam, venimpor aut vel eos ut quo inction num rerescius.</p>"
						}
					%}
					{% include "partials/wall.html" %}
				</li>
				<li class="wall obsession-2">
					{%
						set wall = {
							img: "img/wall/2.jpg",
							href: "episode.html",
							title: "Good Com’<br/>bad COP",
							subtitle: "Magna aliqua Ut enim",
							desc: "<p>Itas simin ent. Udicius et ut aut quasperum, aditae serum isqui doles molorit quiandam sumquoditias etur reperi beatur aut aliti torero blant as que odi odit quos autem evelianiate nonem sam aut omnihillit etum lam explitatur ?</p>
							<p>Faceptiorro magnihiciist as alitas velestrunt, sed magnihit doluptatem inullam, sitem. Et et, quas utemquam si incipsam, venimpor aut vel eos ut quo inction num rerescius.</p>"
						}
					%}
					{% include "partials/wall.html" %}
				</li>
				<li class="wall obsession-3">
					{%
						set wall = {
							img: "img/wall/3.jpg",
							href: "episode.html",
							title: "Les années<br/>Collège",
							subtitle: "Un an en 3<sup>ème</sup>B à Aubervilliers",
							desc: "<p>Itas simin ent. Udicius et ut aut quasperum, aditae serum isqui doles molorit quiandam sumquoditias etur reperi beatur aut aliti torero blant as que odi odit quos autem evelianiate nonem sam aut omnihillit etum lam explitatur ?</p>
							<p>Faceptiorro magnihiciist as alitas velestrunt, sed magnihit doluptatem inullam, sitem. Et et, quas utemquam si incipsam, venimpor aut vel eos ut quo inction num rerescius.</p>"
						}
					%}
					{% include "partials/wall.html" %}
				</li>
			</ul>
			<div class="carousel-controls">
				<button class="toggle" data-direction="backward">Prev</button>
				<button class="toggle">Next</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}