{% set page = { title: "LesJours — Snake" } %}
{% extends "partials/layout.html" %}

{% block content %}
	<style>
		.overlay {
			background-color: rgba(243, 223, 147, .9);
			background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path fill='rgba(0, 0, 0, .2)' d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>");
			background-size: 2px 4px;

			padding: 60px 45px 0 50px;

			position: absolute;
			top:    0;
			right:  0;
			bottom: 0;
			left:   0;
		}

		.snake-3 span {
			background-position: -50px -60px; /* Same as the parent's offset */
			background-size: calc(100% + 50px + 45px); /* 100% + parent's offset */
		}

		/* Same as the overlay */
		.snake-3 span span {
			background-color: rgba(243, 223, 147, .9);
			background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 4'><path fill='rgba(0, 0, 0, .2)' d='M1 0h1v1H1zM0 2h1v1H0z'/></svg>");
			background-size: 2px 4px;
		}
	</style>
	<div class="container" style="padding-top: 100px">
		<div class="row col-md-bottom-1">
			<div class="col col-md-left-1 col-md-6 col-lg-left-2 col-lg-8">
				<h1 class="with-snake snake-1"><span class="snake-content">Livre</span></h1>
			</div>
		</div>
		<div class="row col-md-bottom-1">
			<div class="col col-md-left-1 col-md-6 col-lg-left-2 col-lg-8">
				<h1 class="with-snake snake-2"><span class="snake-content">Des élèves</span></h1>
			</div>
		</div>

		<div class="row col-md-bottom-1">
			<div class="col col-md-left-1 col-md-3 col-lg-left-2 col-lg-4">
				<div style="position: relative">
					<img style="width: 100%" src="img/board/2.jpg" alt="" />
					<div class="overlay">
						<h1 class="with-snake snake-3"><span class="snake-content" style="background-image: url(img/board/2.jpg)"><span class="snake-wrapper">Judith</span></span></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}